[2015-04-17 01:41] dirk-thomas opened #2 "Nosetests results interpreted wrong by Jenkins"
On Windows the nosetests have one failure, see generated xml file:

    <?xml version="1.0" encoding="UTF-8"?>
    <testsuite name="launch.nosetests" tests="4" errors="1" failures="0" skip="0">
      <testcase classname="test_launch_with_coroutine" name="test_launch_with_coroutine" time="0.031">
        <error type="builtins.NotImplementedError" message="&#10;-------------------- &gt;&gt; begin ca

[2015-04-17 17:11] dirk-thomas commented on #2
I have changed the jobs to use xunit test results of type *JUnit*: https://github.com/ros2/ros2/commit/f79dfea53fe735d06459f9330b76413c50b4f705

This makes it parse these unit test result files correctly

[2015-04-17 17:11] #2 closed

[2015-04-17 19:54] dirk-thomas opened #3 "os.WNOHANG not supported on Windows"
https://github.com/ros2/launch/blob/9d789b3e672645a0b74939cde89af5d55b94758b/launch/launch/launcher.py#L103

Nosetests using launch for testing fail because of that.

[2015-04-20 19:29] dirk-thomas commented on #3
Addressed in #4.

[2015-04-20 19:29] #3 closed

[2015-08-03 22:07] tfoote opened #5 "Add support for test processes"
The launch library can be used to turn system tests into nosetests. However if the subcomponents of the system tests are either nosetests or gtests their xml output is not captured, only the return code is utilized.

rostest had a specific tag "test" which was aware that the subprocess was going to generate an xunit output passed appropriate flags to the subprocess and gathered up the results of t

[2015-08-04 21:27] dirk-thomas commented on #5
We will wait with this until ros2/system_tests#14 can server as a use case.

[2015-08-31 19:10] wjwwood opened #7 "asyncio errors on Windows"
On my latest Windows job I'm seeing errors like this:

http://ci.ros2.org/job/ros2_batch_ci_windows/299/console
[code]

I think it might be related to this change?: https://github.com/ros2/launch/commit/368422353e281844c0441b0167e586a660ea42d9#diff-64876ece93fadad6549af3a8bcb112c7R57

I'm not sure though.

[2015-08-31 19:26] dirk-thomas commented on #7
Can you please try it again with #8.

[2015-08-31 20:13] tfoote commented on #7
The ci finished with a lot of test failures. (83)

[2015-08-31 21:37] dirk-thomas commented on #7
The problem is that the not succeeding tests are already there before: e.g. in http://ci.ros2.org/job/ros2_batch_ci_windows/299/

But since the nosetests are marked as "errors" and not "failures" the Jenkins xUnit plugin (configured for GoogleTests) does not pick them up as failing tests.

Therefore I would propose to merge #8 since it clearly fixes to invoke a not existing method on Windows. And

[2015-08-31 22:01] dirk-thomas commented on #7
Since #8 only fixed the reporting (by not having tests with "errors" but "failures") I will reopen this.

[2015-08-31 22:03] dirk-thomas commented on #7
The current state is getting build in: http://ci.ros2.org/job/ros2_batch_ci_windows/309/

[2015-09-01 00:15] dirk-thomas commented on #7
Closed by #9.

[2015-09-01 00:15] #7 closed

[2015-12-15 19:18] jacquelinekay opened #20 "launch_testing does not work with coroutines"
Printing to stdout from a coroutine does not seem to get captured by the InMemoryHandler defined in launch_testing.

Gist with sample code:

https://gist.github.com/jacquelinekay/8f7c91accbf90cf94de8

[2016-04-19 15:39] dhood opened #26 "launch_testing always ignores license output when checking regexes"
`launch_testing` has support for filtering the RTI license output when checking that the received output matches the expected output. If the license output appears and is not being filtered, then the check fails. I think that this is the desired behaviour.

However, this concept seems to be implemented differently for the case when `regex_match` is `True`. The license output is always ignored, whe

[2016-04-19 16:16] dhood commented on #26
this could also be addressed by adding `^` to the start of regexes (https://github.com/ros2/demos/blob/master/intra_process_demo/test/two_node_pipeline.regex for example), but that leads to test timeouts instead of failures

[2016-04-19 16:22] dirk-thomas commented on #26
The matrix of what to test for and how to test for it (https://github.com/ros2/launch/pull/13#discussion_r44998991) was implemented incompletely in that PR. I agree with your conclusion that this should be fixed by making the different tests do the same thing.

[2016-04-19 16:37] dhood commented on #26
thanks for that link! OK good, not a bug, just not yet implemented.
I'll work on getting it to fail if lines which aren't covered by the regex are detected. (**B1**, I believe)

[2016-04-21 18:16] dhood commented on #26
I've started implementing this. At the moment, any lines that are not filtered and are not matched by the regex cause the test to fail.

This affects `ros2/demos` (pinging @jacquelinekay) because there are currently some test regexes which do not include all output lines, e.g.:
http://ci.ros2.org/job/ci_linux/1216/testReport/%28root%29/test_pendulum__rmw_connext_cpp/test_executable/

In this examp

[2016-05-09 22:26] ahundt opened #31 "integrated and automated launch on OS boot"
I'm proposing/requesting a way for a launch file or launch command to automatically be run when the computer boots, which is fully integrated and automated via ros2/launch.

Based on conversation at:
https://groups.google.com/forum/#!topic/ros-sig-ng-ros/0HzF5J6hu4k

Here is one proposal for how this could work, although alternative designs are worth considering:
#### `roslaunch <my_params> --add-

[2016-05-09 22:59] ahundt opened #32 "roslaunch as a perpetually running daemon with integrated, automated, and programmable monitoring + relaunch"
#### roslaunch itself runs as a daemon that is perpetually up once initially launched which monitors and relaunches nodes when needed

I'm proposing/requesting a way for roslaunch to detect failures and restart components using reasonable defaults and programmable parameters, and I'm hopeful that this proposal complements the [ROS 2 document about node lifecycles](http://design.ros2.org/articles/n

[2016-05-09 23:15] ahundt opened #33 "roslaunch daemon as an update tool"
I'm proposing/requesting a way for a roslaunch daemon to automate software updates

This is dependent on #32, and related to #31.

This idea probably needs some refinement but here is my first pass based on the conversation at:
https://groups.google.com/forum/#!topic/ros-sig-ng-ros/0HzF5J6hu4k

The roslaunch daemon would provide a facility where it receives an update message for a specific compone

[2016-05-09 23:21] tfoote commented on #31
Can you explain why you want this to be built into the launch functionality instead of using the built in startup solutions such as systemd, upstart, and launchd? There are over a dozen existing startup tools: https://en.wikipedia.org/wiki/Init#Replacements_for_init also known as System Service Management tools: https://en.wikipedia.org/wiki/Operating_system_service_management

In general we try t

[2016-05-10 01:23] ahundt commented on #31
Perhaps a rescoping of roslaunch for ROS 2 would be sensible, because if you're deploying a real system roslaunch is necessary but simply isn't sufficient. Nodes can crash or stop communicating and need to recover from failure somehow. Therefore, this issue combined with #32 and #33 suggests making the ROS 2 version of roslaunch be a small self contained node lifetime management tool. Of course, o

[2016-05-10 10:17] asmodehn commented on #31
Just my two cents, coming from the server world, where "always running" services in small containers are a necessity.

There are already quite a few cross platform process managers out there, but I haven't seen them mentioned in the roslaunch discussion yet.
One of the most popular python tool currently might be http://supervisord.org/ but each has is own specific features (like https://circus.rea

[2016-05-10 17:21] dirk-thomas commented on #31
@ahundt I agree with @tfoote's statement above that `roslaunch` should focus on one task (starting, restarting, checking processes). A separate tool can be responsible for registering something for startup. Obviously that tool can call / reuse roslaunch to delegate most of the work.

@asmodehn The launching capability in ROS 2 should also include verifying that set of processes has started correct

[2016-05-10 17:27] dirk-thomas commented on #32
The features you describe are all very important and we plan to implement most of them.

I am not sure that launch needs to be realized as a daemon in all those case. But when a launch file is already "running" it should be possible to add service interface to it in order to introspect the state as well as manage its processes. I would think it will become a hybrid of the functionality available i

[2016-05-10 17:57] dirk-thomas commented on #33
While the feature is certainly useful I would use the same arguments as in other tickets. `launch` should focus on one task (starting, restarting, checking processes) ([DOTADIW](https://en.wikipedia.org/wiki/Unix_philosophy#Do_One_Thing_and_Do_It_Well)). A separate tool can be responsible to for the updating part and the orchestration. But `launch` should be designed in such a way that it can prov

[2016-05-10 18:50] ahundt commented on #33
Your suggestion makes perfect sense to me that sounds like a great solution

[2016-05-10 19:09] ahundt commented on #31
That sounds like a good design, particularly if it is easy to start roslaunch, or if roslaunch has a config file or some small necessary part that may be necessary for the other tool to work with it properly.

Ultimately, I think what really matters is to ensure people can make their robot boot automatically by following a simple how-to for various OSes in a single simple document that comes with

[2016-05-10 19:25] ahundt commented on #32
Sounds awesome! I also read the [ROS 2 document about node lifecycles](http://design.ros2.org/articles/node_lifecycle.html
) which is worth mentioning here.

Perhaps will an equivalent proposal be needed for the tool which manages the lifecycles, which may be be what `ros2/launch` ends up doing?

[2016-07-05 17:39] mikaelarguedas opened #37 "Environment passing to launch has no effect"
Spawned processes always get the parent's environment even though a specific env parameter is given.

Reproducible example [here](https://gist.github.com/mikaelarguedas/85a7eebb1dafe1a73c3b26d95ca075e3)

[2016-07-05 17:53] dirk-thomas commented on #37
The `env` parameter of `add_process` is not being used anywhere at the moment. If you need to pass custom environments you need to make it pass this along to the subprocess.

[2016-07-05 18:05] mikaelarguedas commented on #37
I see. I discovered this while testing https://github.com/ros2/system_tests/blob/master/test_communication/test/test_publisher_subscriber.py.in which I think is the only place that uses it for now.
Just to confirm my understanding, the purpose of the `env` parameter is indeed to pass custom environment but doesn't pass them to the spawned subprocesses yet, is that what you mean ?

[2016-07-05 18:05] dirk-thomas commented on #37
Yes, the function has such a parameter but it is not applied anywhere.

[2016-07-12 22:07] #37 closed

[2016-07-27 16:12] rohbotics opened #39 "Using types for process vs dict checking"
Right now there is a lot of this in the launcher code:
[code]

Does it make sense to do something like this instead:
[code]

Or does that not canonical python?

[2016-07-27 16:38] dirk-thomas commented on #39
The first block is imo the more common approach in Python. Often a function / attribute is just being used and wrapped in a try / except block. See https://en.wikipedia.org/wiki/Duck_typing#In_Python

[2016-07-27 18:40] wjwwood commented on #39
The first is slight more flexible, and so may be preferable. However, I think [`hasattr`](https://docs.python.org/3/library/functions.html#hasattr) is probably a more readable way to check if the given object has a particular function or member and therefore meets the required interface.

[2016-09-26 19:35] geoffviola opened #41 "No exit_handler to check the error code of a program that closes"
Inside the https://github.com/ros2/launch/blob/master/launch/launch/exit_handler.py file, all the exit handlers ignore output, restart the program, or run the default_exit_handler, which shuts all the programs down. I want to launch a program and check its return code for failure. If the error code is non-zero, the launch file should tear itself down. Is that in line with the current design?

[2016-09-26 20:16] dirk-thomas commented on #41
I am not sure I understand your exact use case and how it diverges from what is possible with the existing  exit handlers but the design aims to enable implementing any logic using custom handlers.

[2016-09-26 21:32] geoffviola commented on #41
Here's the scenario. I have a launch file that starts a node and a custom parameter client. The parameter client will set the parameters and return with a zero exit code, if it ran properly. I do want the launch file to tear down if the error code is non-zero, because I don't want to run the node without the correct parameters. Currently, no exit_handler supports this scenario.

[2016-09-26 21:35] dirk-thomas commented on #41
Likely we haven't had this use case in any of the exiting demos and examples yet. A custom written exit handler should be able to fulfill this use case. You can either keep it in your package or create a pull request to contribute it to the `launch` package.

[2016-10-03 14:56] dirk-thomas commented on #39
Since this ticket was more a questions which has been answered I will close this. If anyone would like to change the condition please create a PR for it.

[2016-10-03 14:56] #39 closed

[2017-02-14 23:12] wjwwood opened #51 "New test failure with Python 3.6"
I'm assuming this is related to something new in Python 3.6, since some asyncio stuff changed in that version. This is the new test failure after updating the macOS CI machines:

http://ci.ros2.org/job/ci_osx/1720/testReport/junit/(root)/test_interrupt_asynchronous_launcher/test_interrupt_asynchronous_launcher/
[code]

I looked into the problem for a while, but I'm not sure why this error is happe

[2017-02-18 02:06] wjwwood commented on #51
@dirk-thomas can you clarify what this comment is talking about:

https://github.com/ros2/launch/blob/3b990bcf30d5ab2973b70ac7051bb58019dbf6f6/launch/launch/launcher.py#L105
[code]

It seems like asyncio is upset that the child watcher (in this case `None`) doesn't have a loop attached. Do you remember why exactly we're doing this?

[2017-02-18 02:08] dirk-thomas commented on #51
When you want to launch a launch file twice (basically after it finished launch it again) it fails without this line.

[2017-02-18 02:10] wjwwood commented on #51
Hmm, either way, removing this line doesn't fix this issue. Do you know of any other places in the code where we are setting up or changing a child watcher? I'm not finding anything else by searching.

[2017-02-18 02:11] dhood commented on #51
FWIW I saw that someone else ran into this issue and fixed it with https://github.com/neovim/python-client/pull/241/files (not sure how that would work if we need it to be `None`)

[2017-02-18 02:16] wjwwood commented on #51
I'll try to adapt that change, thanks @dhood.

[2017-02-22 03:58] wjwwood commented on #51
I can get all of the tests to run individually, but I cannot get past the tests running together through ctest.

I am using this patch:

[code]

But I always get this error when running the tests via ctest:

[code]

Which, looking at the code, makes no sense to me:

https://github.com/ros2/launch/blob/3b990bcf30d5ab2973b70ac7051bb58019dbf6f6/launch/launch/launcher.py#L87

As the very previous line

[2017-03-16 22:57] wjwwood commented on #51
So, we discussed this off-line (some days ago now) and I think the conclusion was just to not support `AsyncLauncher`, i.e. not support running launch in a non-main thread. This appears to work with some hackery in Python 3.5, but Python 3.6 reintroduces issues. This SO summarizes it:

Since Python 3.6 is supposedly the first "stable" release of asyncio, I'm inclined to go along with it and say th

[2017-03-17 19:41] dirk-thomas commented on #51
Since we don't use it at the moment +1 to remove this.

[2017-03-20 20:24] wjwwood commented on #51
Ok, I haven't gotten any feedback on this, so I'm going to proceed with a pr to remove this feature/test.

[2017-03-20 20:24] clalancette commented on #51
Yeah, I'm with Dirk, if we aren't using it, let's just remove it, and we'll figure out another solution in the future if we need something similar.

[2017-03-20 20:24] wjwwood commented on #51
@dirk-thomas sorry, you comment didn't show up (email or on the webpage) until I posted my commit 😢. Some strange notification issues going on I think...

[2017-03-20 21:09] mikaelarguedas commented on #51
:+1: for removing it for now and see if a critical use case shows up requiring us to implement an alternative

[2017-03-21 16:27] #51 closed

[2017-06-16 04:05] dhood opened #54 "Launch testing doesn't kill nodes correctly if process fails to be spawned"
If two processes are added to a launch descriptor, and one of them launches fine but the other one causes an error, the first one keeps persisting as a zombie process.

Steps to reproduce:

Use this fork with a test that tries to spawn a talker node and a nonexistent fail node: https://github.com/dhood/launch/blob/zombie_nodes/launch_testing/test/test_zombie_nodes.py

[code]

The talker will start

[2017-06-16 21:17] #54 closed

[2017-06-16 21:18] dhood commented on #54
with https://github.com/ros2/launch/pull/55 the output becomes:
[code]

and no error runtime error is printed

[2017-06-22 21:26] dhood opened #56 "Launch doesn't always bring down all nodes on keyboard interrupt"
I have a launch script that starts various ROS 2 nodes. Most times if I kill it with ctrl-c it dies gracefully with no issues. Occassionally (I haven't figured out under what circumstances yet) it gives:

[code]

On at least one occasion this has left one of the nodes running (as was happening in https://github.com/ros2/launch/issues/54 ).

I've seen this issue https://mail.python.org/pipermail/py

[2017-06-29 17:25] dhood commented on #56
I think that the issue was occurring because by habit I press ctrl-c twice. So, I was interrupting the teardown. I'll close this since it seems like user error on my part.

[2017-07-17 18:50] wjwwood commented on #56
It might be user error, but it's still something I imagine people will do. Ideally it would not leak processes no matter how many times you press ctrl-c. `roslaunch` from ROS 1 handles this correctly I believe. You can only get leaked processes if you SIGKILL it with ctrl-\.

[2017-07-19 11:51] dhood commented on #56
ok, let's reopen this then if this should be made user-proof

[2017-08-04 19:46] clalancette commented on #41
I'm going to close this out since I closed out the PR that implemented this.  Feel free to re-open if we want to keep this feature request.

[2017-08-04 19:46] #41 closed

[2017-08-12 05:07] #56 closed

[2017-09-11 19:16] mikaelarguedas opened #62 "Launch files broken since #57 has been merged"
Opening this for visibility
I tried the lifecycle launchfile and the dummy_robot_bringup one and they both crash. If I revert #57 they work.

[2017-09-11 19:22] dirk-thomas commented on #62
I can confirm that the current state is broken. Are you going to work on a fix or should I look into it?

[2017-09-11 19:24] mikaelarguedas commented on #62
I'll look into it

[2017-09-11 20:20] wjwwood commented on #62
@mikaelarguedas can you please post the error you get in the crash, so others can confirm it's the same issue. I get:

[code]

[2017-09-11 20:27] dirk-thomas commented on #62
Same for me.

[2017-09-11 20:29] mikaelarguedas commented on #62
Same for me

[2017-09-11 21:01] mikaelarguedas commented on #62
fixed in #63

[2017-09-11 21:01] #62 closed

[2017-09-13 18:48] dhood opened #64 "Launcher hangs with keyboard interrupt on Windows"
Most of our usage of launch files is in tests, where launch_testing causes signals to be sent. But if you run them manually and ctrl-c them, they hang (for example `demo_nodes_cpp`'s `test_set_and_get_parameters__rmw_fastrtps_cpp_Release.py`). I'm yet to find a launch file that doesn't cause this to happen.

In https://github.com/ros2/demos/issues/175#issuecomment-329030173 @dirk-thomas noted that

[2017-09-13 18:55] dhood commented on #64
Clarification: this is referring to python scripts that create their own launcher manually and are invoked with `python` directly.

As @wjwwood noted in https://github.com/ros2/demos/issues/175#issuecomment-329030173 this does NOT happen for "launch files" that are invoked with `launch`, e.g. https://github.com/ros2/demos/blob/a4d48aa57ba5752122c23bf79e0959052b96337e/lifecycle/launch/lifecycle_dem

[2017-09-13 20:07] dhood commented on #64
I'm at a loss as to why converting the example into the same format as https://github.com/ros2/demos/blob/a4d48aa57ba5752122c23bf79e0959052b96337e/lifecycle/launch/lifecycle_demo_launch.py doesn't fix it.

This still hangs (executed with `launch` rather than `python`) on Windows:
[code]

I have on _one_ occasion seen it exit cleanly so there might be a race condition involved.

[2017-10-17 14:51] oroulet opened #65 "API and doc"
Hi,
I was trying to find out how to use this launch script. After some googling I found this:  https://github.com/ros2/turtlebot2_demo/blob/master/turtlebot2_teleop/launch/turtlebot_joy.py
With the following example:

[code]

Is this the final API? It looks quite heavy. The first thing I did was to make my own function:

[code]

So this bug request is about two things
1- If this is the expected AP

[2017-10-17 15:01] dirk-thomas commented on #65
No, it only represents the current development state.

Cleaner API, introspective capabilities, potentially a XML frontend for the "simple" use cases...

[2017-10-17 15:27] oroulet commented on #65
Where is the discussions on design like this happening? Discourse? I am trying to evaluate the use of ros2 for a robot going out in a few years, it is quite hard to find out the state of the core modules (we do not need other nodes yet). Not sure where to ask.

[2017-10-17 15:44] dirk-thomas commented on #65
Currently nobody is actively working on `launch` (see [roadmap](https://github.com/ros2/ros2/wiki/Roadmap)). Usually the discussion of the concepts is being done in an issue or PR in the [design](https://github.com/ros2/design/) repo.

[2017-10-17 16:21] dirk-thomas commented on #65
That seems to only expose a part of the capabilities. I don't know how useful that would be. Please feel free to create a PR for it if it would support your use case.

[2017-10-20 04:58] oroulet commented on #65
Looking at code and use cases

[2017-10-20 04:58] #65 closed

[2017-12-06 05:46] dhood opened #66 "Default exit handler always has return code of 0 on windows"
In https://github.com/ros2/rcl/pull/198 I tried to add a test that checks for non-zero return codes for a particular process. On windows, the process would have a non-zero return code, but the launch would always have a return code of 0.

I think, using the default exit handler, it's not possible for the return code to ever be set on windows, because this line:
https://github.com/ros2/launch/blob/

[2017-12-06 05:54] mikaelarguedas commented on #66
Based on the comment
https://github.com/ros2/launch/blob/a1057c703a36a43963e1971bcb1b36ccff372d85/launch/launch/exit_handler.py#L41-L42
It may be worth looking at the behavior with python 3.5+ (we're currently using 3.6.3 on the windows machines and require 3.5 for all our python code)

[2018-01-09 14:14] janncker opened #67 "Load node configuration or parameters during launch"
## Feature request
Many nodes need configuration or parameters to make it flexible, however I didn't found a good example to show how to load parameters, as _rosparam_ or _param_ do in ROS. I think it's a necessary feature to ROS2.

#### Feature description

Similar as _rosparam_ and _param_ in ROS.

#### Implementation considerations

Define some keywords in Descriptors, load or parser the parame

[2018-01-09 15:43] wjwwood commented on #67
Thanks for taking the time to bring this up. However, we're aware of the need for this feature and we consider it part of the broader "Python-based launch with stable API, introspectable, optional XML frontend" from the roadmap:

https://github.com/ros2/ros2/wiki/Roadmap

I know it's misleading at the moment, but this repository and the packages in it are just the technical foundation for somethin

[2018-01-09 15:43] #67 closed

[2018-01-21 19:52] rhololkeolke commented on #64
I have this same issue on Linux. It seems that `loop.run_forever` is called, but `loop.stop` is never called.

If you add a `loop.stop` to the end of `DefaultLaunch._run`  it fixes the issue. However, I'm not sure if it causes any other issues. I'm not super familiar with the asyncio library.

[2018-03-01 18:26] sloretz commented on #26
@dhood Did your questions get resolved? Is this something that should be solved before bouncy? I see the test linked in your post `test_pendulum__rwm_connext_cpp` is being [skipped on the latest nightly](https://ci.ros2.org/view/nightly/job/nightly_linux_release/735/testReport/(root)/pendulum_control/test_pendulum__rmw_fastrtps_cpp_xunit_missing_result/). Is it skipped because of this issue?

[2018-03-01 18:37] sloretz commented on #31
Hi @ahundt, It sounds like you may be interested in the design doc for ROS 2's launch system being worked on at ros2/design#163. It is very early and very incomplete, but it would be a good place to watch add comments as it develops.

I'll close this issue because I don't expect it to get work on in this repository; however it can be reopened later if that turns out not to be the case.

[2018-03-01 18:37] #31 closed

[2018-03-01 18:42] dhood commented on #26
the pendulum_control package only builds with connext, it's skipped for fastrtps (for reasons not related to output matching). I have https://github.com/ros2/launch/pull/34/files that doesn't let tests pass if unexpected output occurs even with regex matching, but in the end it would have caused more tests to be flaky because we are relying on loose output matching in some places (e.g. composition

[2018-03-01 18:42] sloretz commented on #33
Hi @ahundt, It sounds like you may be interested in the design doc for ROS 2's launch system being worked on at ros2/design#163. It is very early and very incomplete, but it would be a good place to watch add comments as it develops.

I'll close this issue because I don't expect it to get work on in this repository; however it can be reopened later if that turns out not to be the case.

[2018-03-01 18:42] #33 closed

[2018-03-01 18:42] sloretz commented on #32
Hi @ahundt, It sounds like you may be interested in the design doc for ROS 2's launch system being worked on at ros2/design#163. It is very early and very incomplete, but it would be a good place to watch add comments as it develops.

I'll close this issue because I don't expect it to get work on in this repository; however it can be reopened later if that turns out not to be the case.

[2018-03-01 18:42] #32 closed

[2018-03-01 18:46] sloretz commented on #64
FYI for future readers, #69 fixed on OSX, but issue still exists on windows.

[2018-03-11 18:55] ahundt commented on #33
sounds good, thanks!

[2018-03-11 18:55] ahundt commented on #32
sounds good, thanks!

[2018-03-11 18:56] ahundt commented on #31
sounds good, thanks!

[2018-05-04 17:47] dhood commented on #66
@sloretz I just stumbled upon this issue which doesn't have the bouncy milestone anymore but it doesn't seem like the milestone was ever intentionally removed (maybe a ui bug?). shall we put the bouncy milestone back manually, or did you actually remove it?

[2018-05-04 17:54] sloretz commented on #66
@dhood I don't remember. It doesn't look like this issue was ever intentionally put into the bouncy milestone.

I just added and removed the milestone to see what the github UI says. It looks like the github ui says "added" when a milestone is added, and "cleared" when it's removed. However if those happen back-to-back it collapses them both into "modified". I think on Mar 1 I must have accidental

[2018-06-14 19:44] dhood opened #78 "Typing annotations of variables used in launch only available for python 3.6+"
http://mypy.readthedocs.io/en/latest/cheat_sheet_py3.html#variables

causes failures on xenial jobs, e.g.:

[code]

[2018-06-14 19:45] dhood commented on #78
@wjwwood putting this here for tracking/visibility, not trying to dump it and leave it. we can group-schedule it when it reaches priority.

[2018-06-15 13:51] matt-attack opened #79 "Multi-machine Launching"
## Feature request

#### Feature description
Add a way to launch processes on multiple machines using ssh in a fashion similar to the old launch system. Would allow for the launching of more complex systems.

[2018-06-15 23:38] wjwwood opened #80 "launch does not exit after ctrl-c and subprocesses exit on Linux"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu Linux 18.04 (but not on macOS 10.13.4)
- Installation type:
  - Source
- Version or commit hash:
  - N/A
- DDS implementation:
  - Fast-RTPS (but should not matter)
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

[code]

#### Expected behavior

Exits after ctrl-c.

#### Actual behavior

Does not.

#### Addi

[2018-06-18 04:28] #78 closed

[2018-06-18 23:32] wjwwood commented on #80
I think I found the issue and a solution in https://github.com/ros2/rclpy/pull/191

[2018-06-19 19:42] #80 closed

[2018-06-19 23:59] dhood opened #83 "ros2 launch can't find launch files installed with symlink-install"
This isn't currently supported but it would be convenient; opening for visibility/tracking.

e.g. if I have an `ament_python` package, when I swap to installing with symlink, a launch invocation that was otherwise successful then gives:

[code]

[2018-06-20 01:31] dhood opened #84 "Asyncio error on Xenial with (new) launch"
[code]

Seems like it's from https://bugs.python.org/issue23548 (you may have fixed this before @wjwwood , you are in the thread :smile: )

[2018-06-20 01:57] dhood commented on #83
I was too quick to jump to conclusions there.

The real issue was with the `setup.py` of the package that was symlink installed. It actually wasn't installing properly but giving this error:

[code]

which was because I had listed the launch files as `data_files` that were stored in the source directory of the python package. Moving them out of the directory, installation works, and then the launc

[2018-06-20 01:57] #83 closed

[2018-06-20 02:34] #84 closed

[2018-06-20 02:52] wjwwood commented on #79
Thanks for the feature request, it's on our todo list, but not something we'll probably do in the near future on our own.

[2018-06-20 06:59] wjwwood opened #86 "launch not running processes on Windows"
## Bug report

**Required Info:**

- Operating System:
  - Windows 10
- Installation type:
  - Source
- Version or commit hash:
  - Latest
- DDS implementation:
  - N/A
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

[code]

#### Expected behavior

Runs the talker and listener.

#### Actual behavior

Blocks with no output.

#### Additional information

I've already been l

[2018-06-21 03:38] #86 closed

[2018-06-21 03:50] dhood opened #88 "Launch files don't shutdown properly with opensplice"
If you run the pub sub example of the new-style launch files with debug hard-coded to True, after a keyboard interrupt you can see all of the shutdown handling (with fastrtps/connext):

[code]

But for Opensplice you get a segfault:

[code]

I was not able to produce it with legacy launch but I did notice that it also happens even with only the default ROS launch descriptor included.

[2018-06-21 04:15] dhood commented on #88
Update: commenting the launcher's node's [spin_once](https://github.com/ros2/launch/blob/fb896f2bc27fcf11e316c36ca9626b3a6806cd7a/launch_ros/launch_ros/default_launch_description.py#L88) prevents the segfault but the individual nodes still segfault:

[code]

[2018-06-21 05:02] dhood commented on #88
In the previous comment the launch file was running two python nodes.

If it's running two c++ nodes (with spin_once commented in the launcher still), then they can exit:

[code]

so it seems to be unique to rclpy.

@wjwwood helped me inspect the backtrace and the suspicion is that it's crashing trying to call opensplice's signal handler. Reverting https://github.com/ros2/rclpy/pull/191/files#diff

[2018-06-21 20:38] clalancette opened #89 "Launching on arm64 with Fast-RTPS with fat archive from 2018-06-21 never quits"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu Bionic, arm64
- Installation type:
  - Fat archive from 2018-06-21, downloaded from here: https://ci.ros2.org/view/packaging/job/packaging_linux-aarch64/475/artifact/ws/ros2-package-linux-aarch64.tar.bz2
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

[code]

Let it ru

[2018-06-21 21:29] wjwwood commented on #89
Since the signal handler of launch is running and the shutdown event goes out and gets processed, I think it must be different from https://github.com/ros2/launch/issues/80, but I'll have to try and reproduce it here to debug it.

@clalancette what's the `python -V`?

[2018-06-21 21:30] wjwwood commented on #89
Nvm, it's bionic. I was thinking it might be Debian or something.

[2018-06-21 21:31] clalancette commented on #89
Yeah, it's bionic.  Just for reference, `python3 -V` gives me: 3.6.5

[2018-06-22 00:36] wjwwood commented on #89
I've been able to figure out that it's related to rclpy. If I don't use the ROS part of launch it works fine. Still investigating though.

[2018-06-22 21:35] sumanth-nirmal opened #90 "Launch system hungs while shutdown"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 16.04
- Installation type:
  - Source
- Version or commit hash:

   - [ros2.repos.txt](https://github.com/ros2/launch/files/2129174/ros2.repos.txt)
- DDS implementation:
  -  Fast-RTPS
- Client library (if applicable):
  -  rclpy

#### Steps to reproduce issue

Launch system for 2 nodes (talker --> lifecycle node and listener --> re

[2018-06-22 21:41] dhood opened #91 "Reentrant call to stderr on interrupted Launch on Windows + Opensplice"
Using [last night's packaging job](https://ci.ros2.org/view/packaging/job/packaging_windows/1043/):

This only happens for rmw_opensplice_cpp:
[code]

Works fine for e.g. connext:

[code]

[2018-06-22 22:39] dhood commented on #88
Note that on OS X this causes a notification gui popup that python died unexpectedly. It doesn't seem to affect windows.

[2018-06-22 23:55] wjwwood commented on #91
Our best guess is that our Python signal handler which prints to stderr is getting interrupted by a signal, which causes the reentrant behavior.

Also, this happens because of a cascading SIGINT effect where signaled children also signal the parent (the launch script itself) resulting it two or more SIGINT signals in quick succession.

[2018-06-25 16:04] dhood commented on #91
resolved by https://github.com/ros2/launch/pull/92

[2018-06-25 16:04] #91 closed

[2018-06-25 16:05] dhood commented on #88
resolved by https://github.com/ros2/rclpy/pull/194

[2018-06-25 16:05] #88 closed

[2018-06-26 01:05] ironmig commented on #90
For me this seems to be with _any_ launch file while using fastrtps (even if they don't involve lifecycle nodes). For example, ```ros2 launch demo_nodes_cpp talker_listener.launch```. Also, I noticed that inputing a second ```Ctrl-C``` after all nodes are shutdown closes it out fine.

[2018-06-26 01:18] wjwwood commented on #90
@ironmig On `x86`? I think that might be one of the other cases where it hangs, e.g.:

- https://github.com/ros2/launch/issues/89
- https://github.com/ros2/launch/issues/80

[2018-06-26 17:16] ironmig commented on #90
Yes this is on x86 Ubuntu 18.04 running off the latest master branch

[2018-06-27 22:41] wjwwood commented on #90
@sumanth-nirmal I have some answers for you:

That is because we never unregister the event handler (as we spoke about in person). To remedy this, I will:

- Add an action `UnregisterEventHandler`, and
- Add an option to `RegisterEventHandler` so that it will unregister itself after one run.

As for why it hangs, well, that's a more serious flaw in my design, essentially the `ExecuteProcess` actio

[2018-06-27 22:57] wjwwood commented on #90
Here's a modified version of your script that does not react to talker reaching `inactive` more than once and therefore does not launch listener more than once, and even if you modify it so that it does, it will not crash due to there being two listeners:

[code]

If you comment out `context.unregister_event_handler(on_talker_transitions_to_inactive_event_handler)`, then it will launch a listener

[2018-06-28 18:09] sumanth-nirmal commented on #90
@wjwwood Thanks. I will use the modified script.

[2018-06-29 21:42] wjwwood commented on #89
This is also happening on x86 Linux now as well (though perhaps not always).

[2018-06-29 22:22] mikaelarguedas commented on #89
Happens to me consistently on my bionic amd64 testing

[2018-07-02 11:09] shiveshkhaitan opened #95 "'ros2 launch' invalid choice"
I do not get the option of launch after typing ros2
This is the error msg
invalid choice: 'launch' (choose from 'daemon', 'extension_points', 'extensions', 'lifecycle', 'msg', 'node', 'param', 'pkg', 'run', 'security', 'service', 'srv', 'topic')
How do I use launch command?

[2018-07-02 14:55] sloretz commented on #95
Would you mind filling out the issue template? It sounds like `ros2launch` might not have been built, but there isn't enough information to say why.

[code]

[2018-07-04 00:00] mikaelarguedas opened #97 "launch_ros node should have an anonymous name"
Currently if 2 launch files are launched using `launch_ros`, 2 nodes named `launch_ros` are created.

The nodes should have different names.
In the other `ros2` tools it is currently done by using the process ID https://github.com/ros2/ros2cli/blob/4059a2f84addbbaab121b7f92b872dd5acffa4b3/ros2cli/ros2cli/node/direct.py#L36-L37'

[2018-07-04 00:03] mikaelarguedas opened #98 "`ros2 launch` should autocomplete only packages that have launch files"
Currently `ros2 launch` autocompletes with the list of all packages.

We could provide a way to register launchfiles to the index in CMake and use that resource to autocomplete only packages that have launchfiles, and only files that are launch files.

[2018-07-05 14:04] dirk-thomas commented on #98
How about Python packages? Registering them in the index will require quite some custom logic in the `setup.py` which is probably not feasible. So relying on the index might not be an option.

[2018-07-09 04:43] wjwwood commented on #98
That's already the case for all python packages which are ROS packages. I don't think that's a reason to avoid using the index. If it's inconvenient, then we should make it more convenient, not avoid using it despite the fact that it's the most efficient way to handle this.

Crawling for launch files in the share directory of all packages found is the only alternative I'm aware of that doesn't req

[2018-07-09 05:22] dirk-thomas commented on #98
Do you have a proposal how to achieve that with the constraint that you can't rely on any Python module to be available in a `setup.py` file?

[2018-07-09 12:40] dirk-thomas commented on #98
I am not trying to "stall" this work and I don't have a proposal for a fast lookup without the index.

We can't just import other modules since they are not guaranteed to be available. Therefore we are currently duplicating logic like this (e.g. to register a package at the index). As far as I know it is necessary.

I was asking if you have a proposal for "find some other solution" since to my kno

[2018-07-09 17:20] wjwwood commented on #98
I saw the above as "we shouldn't do this", that's what "not feasible" means to me.

I don't have a suggestion for either how to avoid the custom logic in the `setup.py`'s (the infeasible part) or how to do the lookup effectively without the ament index.

So I think we either have to not have this feature request fulfilled or we have to have custom logic in `setup.py` files. My preference is for th

[2018-07-09 23:02] dirk-thomas opened #101 "Features for ROS 2 Crystal"
* Launch with life cycle
* Launch components into a manager process
* Nest launch files with namespacing
* Launch into/with containers
* Pass params to nodes/components

Excluded:
* Distributed / remote launch
* [Capabilities](http://wiki.ros.org/capabilities)
* QoS config from launch file

Please feel free to update the list with more information as needed.

[2018-07-11 21:13] wjwwood commented on #95
I'm going to close this until more information is provided. Feel free to update your issue and comment here, at which point I'll reopen this issue.

Also you can ask questions like this on https://answers.ros.org.

[2018-07-11 21:13] #95 closed

[2018-07-11 23:00] wjwwood opened #102 "[launch] improve test coverage for non-core classes"
Currently there are minimal tests for some of the core classes like `LaunchDescription`, `LaunchService`, and `Action`, but there's not really any tests for things like:

- `launch.LaunchInstrospector`
- `launch.Substitution`
- anything in the namespaces:
  - `launch.actions`
  - `launch.event_handlers`
  - `launch.events`
  - `launch.substitutions`
  - `launch.utilities`

[2018-07-11 23:15] wjwwood opened #103 "[launch] refactor introspection system"
Some effort was already invested to express intent without side-effects in the new launch api, and each entity in a launch description can express itself and related, or "sub" entities. However, the introspection interfaces of various entities (Actions, Event Handlers, Events, Subsitutions, etc...) need to be refined to avoid impassible and opaque boundaries in the description when introspecting.

[2018-07-11 23:36] wjwwood opened #104 "[launch] provide default console and filesystem logging for executed processes"
Currently in `launch` an executed process does not have anything printed to the console and nothing is logged to a file.

Some of the examples will create custom event handlers for this:

https://github.com/ros2/launch/blob/b78d87f31bb995c7226df66826e1a57079ae3a3f/launch/examples/launch_counters.py#L51-L62

The "default launch description" provided by `launch_ros` also creates an event handler to

[2018-07-11 23:49] wjwwood opened #105 "[launch] add concept of Conditions"
The concept of a "Condition" is a predicate that applies to certain kinds of entities like (but not exclusively) `launch.Action`.

This is the equivalent of `if` and `unless` attributes in `roslaunch` from ROS 1:

https://wiki.ros.org/roslaunch/XML#if_and_unless_attributes

The proposed `launch.Condition` would:

- take a predicate which would be a list of substitutions
- convert the list of subst

[2018-07-12 00:01] wjwwood opened #106 "[launch] add new Action called GroupAction"
Previously I had described a "Group" or "Group of Actions" as a separate entity from "Action", but since then I think we can just have a special Action that yields other actions and optionally does things like pushes/pops the launch configurations and set/unset specific launch configurations.

I believe the action I've described is capable of fulfilling the use cases I originally imagined for grou

[2018-07-12 00:09] wjwwood opened #107 "[launch] add new concept for LaunchArgument"
The idea behind the concept of `LaunchArgument` is that it should be something you can declare (perhaps as an Action) in a launch description which indicates some input configurations to the launch description.

If the launch description is included by another launch description then the arguments would be part of that action, but if the launch description is "run" by `ros2 launch` it would be pos

[2018-07-12 00:11] wjwwood opened #108 "[launch] add new Action called UnsetLaunchConfiguration"
The `UnsetLaunchConfiguration` action would simply unset a previously set launch configuration (set with the `SetLaunchConfiguration` action).

[2018-07-12 00:13] wjwwood opened #109 "[launch] check that iterable contains only types in ensure_argument_type()"
See: https://github.com/ros2/launch/pull/74#discussion_r194928334

[2018-07-12 00:16] wjwwood opened #110 "[launch] add new Action called UnregisterEventHandler"
Without an action `UnregisterEventHandler` you have to use an `OpaqueFunction` and the `LaunchContext` to manually unregister an event handler, which is not introspectable.

[2018-07-12 00:18] wjwwood opened #111 "[launch] add option to RegisterEventHandler so that it unregisters itself after one event"
A convenience option to avoid the need to manually create a `UnregisterEventHandler` action for "one off" event handlers.

Follow up of https://github.com/ros2/launch/issues/90

[2018-07-12 00:20] wjwwood opened #112 "[launch] prevent launch from hanging when unexpected exceptions occur internally"
A follow up of https://github.com/ros2/launch/issues/90, where an exception in the default ros launch description caused launch itself to hang, see:

https://github.com/ros2/launch/issues/90#issuecomment-400852504

[2018-07-12 00:23] wjwwood opened #113 "[launch] prevent Actions from being reused"
Currently if you provide an instance of an Action to be visited more than once it will be and that breaks the assumption of one time use of some Actions like `ExecuteProcess`.

Instead Actions should declare if they're reusable or not (default to not probably) and then get an appropriate error when they are accidentally reused.

Follow up of https://github.com/ros2/launch/issues/90#issuecomment-40

[2018-07-12 01:05] wjwwood opened #114 "[launch] consider refactoring ExecuteProcess into Execute and Executable"
I believe it might be wise to separate the description of a process to be executed and its state while running from the Action which executes it.

Currently all of this information is encapsulated in the `ExecuteProcess` action, and my proposal would be to replace that with an action called `Execute` that takes an `Executable` (not an action or launch description entity, just a new kind of class).

[2018-07-12 01:08] wjwwood commented on #113
Related to this, consider changing the signature of `EventHandler` so that we can avoid the common case where instances of actions are unintentionally visited more than once. If an event handler yields and instance when ever an event occurs, and the event happens more than once, then that instance of action is visited twice. Instead we could enforce that `EventHandler` returns a function that retu

[2018-07-12 01:09] wjwwood commented on #90
I'm going to close this since I created follow up issues for the specific problems and there is a work around for @sumanth-nirmal right now.

[2018-07-12 01:09] #90 closed

[2018-07-12 21:30] wjwwood opened #115 "[launch] add new Action called IncludeLaunchDescription"
Already described in the `architecture` document:

https://github.com/ros2/launch/blob/88ae20ee2e950df91e5594975a82bffe1ebd928b/launch/doc/source/architecture.rst#basic-actions

Basically it will allow you to include another launch description, which is given to the constructor of the new action. You can already do this by emitting an event, `launch.events.IncludeLaunchDescription` (https://github

[2018-07-12 21:35] wjwwood opened #116 "[launch] allow IncludeLaunchDescription to include other python launch files"
Requires #115

At first `IncludeLaunchDescription` will require the creator to pass a `LaunchDescription` object, but it should also be able to take a path to a `.launch.py` file and then interpret it, call `generate_launch_description()` from it, and use that `LaunchDescription`. This might need a new Action or it could just be a feature of `IncludeLaunchDescription`.

[2018-07-12 21:56] wjwwood opened #117 "[launch_ros] add ability to pass parameters to Node actions"
Currently you can pass remapping arguments to Node as a `dict`, but to set parameters in a node from a launch file you need to pass a normal argument which points to an existing `.yaml` file.

To pass parameters via the launch file (without predefining them in an external `.yaml` file) will ultimately require the ability to pass parameters via the command line one at a time, which as of right now

[2018-07-12 22:59] sloretz commented on #117
Multiple yaml files can be given on the command line. If two files specify a value for the same parameter then the value from the later file is used.

[code]

[2018-07-12 23:02] wjwwood commented on #117
Cool thanks!

[2018-07-16 22:00] nuclearsandwich commented on #89
I've only started looking into this on a native arm64 host. It's a host where I had previously installed .deb packages and I wasn't able to reproduce the issue with debs. What occurred instead after the first ^C was:
[code]

And pressing enter, sending a clear, or any other input re-printed the command prompt. However, after downloading and running the fat archive a few times on the same host I no

[2018-07-23 23:03] wjwwood commented on #89
Thanks @nuclearsandwich for taking some time to look into it. This information might be useful to me, so thanks for writing it up.

My current state on this is that this line:

https://github.com/ros2/launch/blob/b6085818b723944dbf8f49eae75251fe30b0ab34/launch_ros/launch_ros/default_launch_description.py#L88

Never returns after ctrl-c is done (the second ctrl-c seems to wake it up). Which is very

[2018-07-24 01:59] wjwwood commented on #89
I cannot reproduce this on my 16.04 VM, I'm going to try my 18.04 VM to try and corroborate with @mikaelarguedas's comment https://github.com/ros2/launch/issues/89#issuecomment-401488395. Otherwise, I'll have to drop back into packet.net aarch64 machines.

[2018-07-27 07:01] #115 closed

[2018-07-27 21:20] #105 closed

[2018-08-03 14:45] oscar-lima commented on #95
I have the same problem, here is the bug report:

## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 16.04
- Installation type:
  - binaries
- Version or commit hash:
  - ardent
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue
```ros2``` tab, tab!

#### Expected behavior
launch daemon extension_points extensions msg node pk

[2018-08-03 14:56] sloretz commented on #95
Hi @oscar-lima, thanks for filling out the template. The `ros2 launch` command is new in Bouncy. That behavior is expected in the Ardent release.

[2018-08-03 15:01] oscar-lima commented on #95
Ok, Thanks! @sloretz

[2018-08-06 18:20] #116 closed

[2018-08-07 20:29] wjwwood commented on #89
So, I've narrowed down the issue so that it only happens when:

- on bionic, and
- when using FastRTPS, and
- when using the rclpy part of launch.

So, on xenial it seems to never hang (though there is some unconfirmed evidence that it might depending on timing), and it never hangs with Connext that I've seen (or OpenSplice, though I haven't tried that myself), and it never hangs if you comment ou

[2018-08-17 18:15] #89 closed

[2018-08-22 23:28] crdelsey opened #126 "LuanchService.shutdown() fails to terminate run loop"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 16.04
- Python Version:
 - Python 3.5.2
- Installation type:
  - source
- Version or commit hash:
  - 0.6.0
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  -

#### Steps to reproduce issue

Run the following python code
[code]

#### Expected behavior
I expect the listener executable to terminate and the pytho

[2018-08-22 23:54] wjwwood commented on #126
I think this issue comes from using `asyncio.subprocess` from a thread, if I run on my macOS machine with Python 3.7 I get:

[code]

If I modify the script like so (I'm avoiding the shebang by invoking with `python3` directly):

[code]

I get this:

[code]

Which is a combination of errors, some are ours, e.g. the `failed to set signal handlers in 'launch.utilities.signal_management.py' this funct

[2018-08-23 00:38] wjwwood commented on #126
I can reproduce your issue on Xenial as well.

So the question is what to do about it. For now I'd advise never running `LaunchService.run` in a thread if you can avoid it.

If running it in a thread is a must, I can look at the child watcher policies that asyncio has. There is `asyncio.SafeChildWatcher` which uses polling rather than calling `os.waitpid(-1)`, but that incurs significant overhead

[2018-08-23 00:40] wjwwood commented on #126
There's a little info about the child process watchers here: https://stackoverflow.com/questions/48604341/what-is-event-loop-policy-and-why-is-it-needed-in-python-asyncio

[2018-08-23 00:48] dirk-thomas opened #127 "Unit tests based on new launch API"
While porting some ROS 1 packages to ROS 2 I wanted to also migrate the `rostest`s. Currently there is no API yet in `launch_testing` (beside the legacy API).

I tried two different approaches - the idea would be to move the "generic" stuff from one of these prototypes into `launch_testing` in order to be able to reuse it across tests:

1. Creating custom classes for the `LaunchDescription` as wel

[2018-08-23 01:56] crdelsey commented on #126
What I'm trying to do is write some integration tests for my node in pytest. I was trying to use `launch `to start up the nodes-under-test as part of a pytest fixture, run the tests, and then `shutdown()` as part of the teardown process.

I needed to put `run()` in a thread so the fixture setup wouldn't block.

The alternatives I can think of are:

- Start a new process during the fixture setup us

[2018-08-23 02:36] wjwwood commented on #126
Ok, so in ROS 1 the equivalent to this was `rostest` and it worked by defining test files which were just XML based launch files with one of the "nodes" marked as a test, so that it's return code would influence the test running. And the process marked as node would usually do the actual testing (e.g. check if a topic is there, offer a service and check that it was called, etc...). Integrating tha

[2018-08-23 02:38] wjwwood commented on #126
I'll also say that for now we're still using the legacy system in `launch_testing` for this kind of thing. The new launch system hasn't tackled testing yet. @dirk-thomas just took a stab at doing a more "ROS 1 `rostest`" like approach using the new `launch` system: https://github.com/ros2/launch/issues/127

[2018-08-23 03:10] crdelsey commented on #126
I've got no problems with going to a newer Python version, but based on your test with 3.7, it doesn't really solve my problem. It just gets me a better error message :-)

I'll take a look at what @dirk-thomas is doing. I'd like to follow the same pattern as the rest of the ROS code, but I just couldn't figure out how to use the existing `launch_testing` to do what I wanted.

In the meantime, I'll

[2018-08-23 03:14] wjwwood commented on #126
That's true, but it might also be required for one of the potential solutions for multi-threading (like the `asyncio.SafeChildWatcher` option).

[2018-08-23 15:52] crdelsey commented on #126
For now, I think I'll just spawn `ros2 launch` from my test fixture. That has the added benefit that I can reuse the launch files for other things. Also, I'd been meaning to look into the lifecycle stuff you mentioned that I get with that, because one of the problems with my current approach is that I can't reliably tell when all the nodes are up and ready to receive messages.

[2018-08-23 21:48] mjcarroll commented on #127
Looking at the two approaches, I think I would be partial to the second as it would keep the bulk of the test file consistent with the launch file.  I believe this would allow for more reuse and less boilerplate.

[2018-08-25 00:49] #127 closed

[2018-08-28 16:27] #106 closed

[2018-08-29 20:56] #108 closed

[2018-09-04 16:40] #107 closed

[2018-09-14 00:00] sloretz commented on #117
Is this ticket complete now that #135 has been merged?

[2018-09-14 00:00] dhood commented on #117
nah, it didn't include passing parameters as dicts

[2018-09-14 00:01] dhood commented on #117
(which I'm working on now)

[2018-09-15 00:52] dhood opened #139 "Don't require node name to be specified if parameter dictionary passed to Node action"
The node namespace is always specified when launching a Node action (defaults to `/`), but the node name is optional.

When parameters are passed to a Node action as a dictionary, they are written to a yaml file. Yaml files of parameters currently require the node name to be specified.

Because of this, if a dictionary of parameters is passed to a Node action, there is a requirement that the node

[2018-09-15 01:40] wjwwood commented on #139
Is this something you think will be possible?

If we can ever pass arguments over the command line I was assuming that we'd need to specify the node name as well. Put another way, anything you could pass over the command line should also be representable in the yaml file as well. So if you have "node-agnostic" parameters on the command line you could do the same in the yaml file. Or if you have pa

[2018-09-17 17:19] dhood commented on #139
Not requiring the node name to be passed one day seems plausible to me. This is my reasoning:

1. Node agnostic parameters in yaml files.
    1. Parsed parameters are stored in a FQN node name - to - parameters mapping. We could have an empty name or some other invalid/reserved node name in the storage reflect that the parameters should apply to all nodes. The parser would need to be updated to no

[2018-09-19 19:36] jacobperron commented on #111
The underlying EventHandler class is where the event is actually handled (entities retrieved by LaunchService), so we could pass a `handle_once` flag to it from RegisterEventHandler and use it like so:

[code]

The handle_once flag could be passed to EventHandler via constructor or setter. The latter seems more convenient since the EventHandler already provided to RegisterEventHandler, e.g.:

[cod

[2018-09-19 21:31] #110 closed

[2018-09-21 21:51] #117 closed

[2018-09-24 22:54] jacobperron commented on #104
Looking back at [roslaunch](http://wiki.ros.org/roslaunch) from ROS 1:

There are two lists of handlers for logging messages (for stdout and stderr) that are invoked every time a log function is called.
The provided functions for calling the handlers responsible for printing and logging are:

- [printlog](https://github.com/ros/ros_comm/blob/a925610b0d6120e40414298ad060490238e8aaed/tools/roslaunch

[2018-09-25 20:29] jacobperron commented on #102
Tests added:
- [ ] launch.LaunchInstrospector
- [ ] launch.Substitution
- [ ] launch.actions
- [ ] launch.event_handlers
- [ ] launch.events
- [ ] launch.substitutions
- [ ] launch.utilities
    - [ ] class_tools_impl
    - [ ] create_future_impl
    - [ ] normalize_to_list_of_substitutions_impl
    - [ ] signal_management
    - [ ] ensure_argument_type_impl
    - [ ] perform_substitutions_impl

[2018-09-26 20:35] jacobperron commented on #104
From a discussion offline,

- Add PID to the log file name and make `<counter>` optional (only if file already exists): `~/.ros/log/<DATETIME>-roslaunch-<hostname>-<PID>-<counter>.log`
- Include support for stripping color escape sequences when logging to a file.

[2018-10-03 21:10] crdelsey opened #144 "[launch] Using TimerAction results in exception"
**Required Info:**

- Operating System:
  - Ubuntu 16.04
- Installation type:
  - source
- Version or commit hash:
  - master/HEAD as of 3 Oct 2018 8597466f
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  -

#### Steps to reproduce issue
`ros2 launch` the launch file below
[code]

#### Expected behavior
The demo_nodes listener node gets launched
#### Actual behavior
`[ERROR

[2018-10-04 21:00] jacobperron commented on #144
Looks like this recursive call in `launch_description.py` is not implemented properly:

https://github.com/ros2/launch/blob/8597466f5da210fecff4c70e3db0f9935ccd7390/launch/launch/launch_description.py#L103

`describe_conditional_sub_entities()` returns a list of tuples where each tuple has a description of the condition and a list of sub-entities. Perhaps, one solution would be to first check if t

[2018-10-04 21:02] jacobperron commented on #144
We could also make use of the `_condition_inclusion` argument in the check for a hint to if we expect a tuple.

[2018-10-09 21:37] jacobperron opened #146 "[launch] Implement functional tests for signal_management"
The tests for the signal_management module are minimal and lacking functional tests. Specifically, functional tests can be added to confirm that registered handlers for sigint, sigquit, and sigterm are correctly executed.

See TODOs in code:

https://github.com/ros2/launch/blob/cc02e570a16a999ff64c03636c5d4aed1edeb9b7/launch/test/launch/utilities/test_signal_management.py#L43

https://github.com/r

[2018-10-10 06:41] dhood opened #148 "Cleanup temporary parameter files when passing parameter dict to Node actions"
Parameters can be passed to Node actions as dictionaries as of https://github.com/ros2/launch/pull/138. This is done by writing a temporary parameter yaml file. The temporary file's name should be kept track of and deleted on shutdown to avoid files taking up too much space (hypothetically, in the case where nodes are set to respawn on shutdown, if there's an error that keeps restarting the node,

[2018-10-10 13:31] dhood commented on #148
Also, tests added in that PR check the resulting files so an opt-out option for cleanup woupd be appropriate there

[2018-10-23 17:27] left4taco opened #149 "examples/launch_counters.py throw an exception"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 16.04
- Installation type:
  - From source
- Version or commit hash:
  - a46aabdde1f58c7e2e5c056c0c4a1ea830faac5c
- DDS implementation:
  - Fast-RTPS, but shouldn't matter here
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue
[code]

#### Expected behavior
Script runs successfully
#### Actual behavior
[code]

[2018-10-23 17:44] wjwwood commented on #149
What shell are you using? The issue is that it is not finding `time` which is pretty standard on Linux. See:

https://github.com/ros2/launch/blob/a46aabdde1f58c7e2e5c056c0c4a1ea830faac5c/launch/examples/launch_counters.py#L66

[2018-10-23 17:49] left4taco commented on #149
@wjwwood Thanks. I'm using bash and `time` is a shell reserved word, not an executable. That's probably the reason.

[2018-10-23 18:10] wjwwood commented on #149
It might need `shell=True`, I can check later. I believe it's an executable `time` for `zsh`.

[2018-10-23 23:56] wjwwood commented on #149
@left4taco can you try this diff?

[code]

[2018-10-24 00:38] left4taco commented on #149
@wjwwood Now it goes smoothly.

[2018-10-24 02:28] #149 closed

[2018-11-01 09:00] yechun1 opened #152 "ros2 launch not work after delete TRANSITION_SHUTDOWN in lifecycle_msgs"
sync to latest ros2 code, the ros2 launch not work.
May caused by this commit: https://github.com/ros2/rcl_interfaces/commit/852a37ba3ae0f7e58f4314fa432a8ea7f0cbf639

$ ros2 launch
Failed to load entry point 'launch': type object 'Transition' has no attribute 'TRANSITION_SHUTDOWN'
usage: ros2 [-h] Call `ros2 <command> -h` for more detailed usage. ...
ros2: error: argument Call `ros2 <command> -h`

[2018-11-01 20:29] #152 closed

[2018-11-23 13:31] poonam1120 commented on #117
Hi,
I want to set value of use_sim_time as true when I am launching node via .launch.py file but I am not able to do this.
Node is getting launched with yaml file but not sure how to set value for  use_sim_time here.
/**my  code snippet**/
launch_ros.actions.Node(
            package='test', node_executable='test_node', node_name='test_node',
	    output='screen',
	    parameters=[

[2018-11-26 16:57] sloretz commented on #117
Hi @poonam1120,

I think this question would be a better fit for https://answers.ros.org/questions/ . Many more people watch that site, so you're likely to get an answer quicker. Comments on closed issues often don't get responses because closed issues on github aren't very visible.

[2018-12-11 00:56] sloretz opened #157 "ValueError raised using --print on an ASCII launch file"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu bionic
- Installation type:
  - debs
- Version or commit hash:
  - crystal pre-release
- DDS implementation:
  - N/A
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue
Try to `--print` the installed `talker_listener.launch.py`
[code]

#### Expected behavior

The content of `talker_listener.launch.py` would be p

[2018-12-11 01:51] sloretz commented on #157
On bionic? Using crystal debs or from source?

[2018-12-11 01:59] dirk-thomas commented on #157
Yes, using Debian packages on Bionic - same as in the issue template above.

[2018-12-11 18:15] #157 closed

[2019-01-07 22:13] wjwwood commented on #126
I recommend not running launch service in anything but the main thread (it is special in Python). That comment implies that shutdown may be called from a non-main thread but will do nothing if the launch service isn't running.

[2019-01-08 18:03] sloretz opened #159 "Remove legacy API"
The legacy API should be removed.

<details><summary>Places where legacy API is used</summary>

[code]
</details>
<br>

Packages to update
- [ ] test_cli_remapping
- [ ] rcutils
- [ ] launch_testing
- [ ] launch

[2019-01-11 18:13] sloretz opened #160 "Launch composable C++ nodes"
## Feature request

This is a feature request for launching multiple composable nodes into the same process. The acceptance criteria for this ticket is limited to launching dynamically composable rclcpp non-lifecycle nodes into a container process.

#### Feature description

`launch_ros` must pass arguments to the composable nodes where "arguments" means:

* the information that can be passed via

[2019-01-14 20:28] hidmic opened #161 "Launch-based Testing"
## Feature request

This is a feature request to enable launch-based testing, using (and likely extending) the current launch API. Acceptance criteria is limited to running both gtest and stdout-matching launch tests through regular build tools (e.g. `colcon`).

#### Feature description

In ROS, the `rostest` integraton with `roslaunch` allows for running *test nodes* in otherwise regular launch f

[2019-01-14 20:33] hidmic commented on #161
On a first step, we will:

1. [ ] Write some testing examples on how the API would look like.
2. [ ] Put together API basic functionality (no result aggregation, single test per launch, etc.),
        migrating legacy features if needed.
3. [ ] Add basic CMake integration (likely through `pytest`).

[2019-01-14 20:45] hidmic opened #162 "[launch] Add basic CMake support to run launch-based tests"
## Feature request

Add a CMake macro to help invoke launch-based testing targets.

#### Feature description

Implement a CMake API to add a ROS2 launch invocation as a custom command and register it as a test. As a first iteration, rely on a `pytest` wrapper and just look for return codes.

Some API alternatives are:

[code]

#### Implementation considerations

- [ ] Implement and export CMake te

[2019-01-14 20:51] hidmic opened #163 "XML/YAML Front-end"
## Feature request

This is a feature request to implement a declarative markup (XML, YAML, TOML, etc.) front-end for launch descriptions. Acceptance criteria is limited to TBD.

#### Feature description

- Optionally narrow down feature set for a first iteration.
- Draft a format standardization document in https://github.com/ros2/design.
- Gather feedback from potential users (i.e. community and

[2019-01-14 21:00] dirk-thomas commented on #163
Also take the existing ROS 1 roslaunch XML into account: http://wiki.ros.org/roslaunch/XML

[2019-01-16 01:33] wjwwood opened #164 "[launch] add new Action called SetEnvironmentVariable"
This action would just take a name and value, and it would set an environment variable when executed. The name and value should take substitutions so that this action may be used to extend environment variables as well as overwrite them, e.g. `SetEnvironmentVariable(name='PATH', value=[EnvironmentVariable('PATH'), '/some/other/bin'])`.

[2019-01-19 00:39] hidmic opened #166 "[launch] Propose launch-based testing API through example"
## Feature request

Propose an API for launch-based testing through user stories.

#### Feature description

Write down testing API use examples to:

- Test an existing launch file through composition.
- Run a gtest/pytest program in test fixture context.

In addition, all legacy launch testing use cases, as can be found in [ros2/launch](https://github.com/ros2/launch) and [ros2/demos](https://git

[2019-01-25 02:37] wjwwood commented on #164
Awesome! The best way to do this is to open a pull request (https://help.github.com/articles/about-pull-requests/) against this repository with the feature implemented. The best way to see how to do that is to probably emulate another pull request that does something similar, for example: https://github.com/ros2/launch/pull/140

[2019-02-04 22:23] kyrofa opened #174 "Support required nodes"
## Feature request

#### Feature description

It's fairly common to want to shut down a launched system if a specific node (or set of nodes) exits. In ROS1 this uses the `required` attribute in the `node` tag. In ROS2 launch, expressing this desire requires a bit more boilerplate:

[code]

Would be great to simplify this with some syntactic sugar.

#### Implementation considerations

I propose sim

[2019-02-05 14:25] ivanpauno opened #176 "Add actions for running gtest and pytests"
## Feature request
Add two actions, PyTest and GTest, to launch tests. See #161.

#### Feature description
Both of the actions will take two arguments:
- path: Path of the test to execute.
- timeout: float [seconds], indicating after how much time the test is killed.

Example usage will be like: https://github.com/ros2/launch/blob/5518345495df34ec11c4767a0d777811edce152d/launch_testing/examples/te

[2019-02-05 18:21] wjwwood commented on #174
One concern with the approach is the interaction with required and respawn, what if I put true for both?

This question leads me to think there may need to be one option, like an "exit handler" and only one can be in use at a time. Then there can be some default ones like Required and Respawn, which can have settings (like maybe respawn only works if the return code is in a certain set of appropri

[2019-02-05 20:12] wjwwood commented on #174
I'm not sure what ROS 1 does, my guess is that required overrides respawn, but I don't know. ROS 1 does, however, have `respawn_delay`, see: https://wiki.ros.org/roslaunch/XML/node#Attributes

I think it was reasonably well received, but I saw a lot of people writing shell scripts to get the more sophisticated behaviors, and I think taking that responsibility into launch is reasonable, because it

[2019-02-05 21:21] kyrofa commented on #174
You're right, `respawn_delay` does complicates things. Not a ton though, at least not at first blush. Here's some pseudo code, is this too simple?

[code]

I don't disagree that the handler idea is powerful, however, I'm concerned that it may be over-engineered. The reason I logged this issue in the first place is because it took some boilerplate to do what I felt was a common thing. In my humble

[2019-02-05 21:31] wjwwood commented on #174
That was what I was thinking. I don't personally find it less intuitive than required:bool or respawn:bool, but I'm often not the best person ask about such things.

If you compare to systemd, they also use a "choice" rather than a set of boolean flags to express what they want.

Perhaps a better example, I find this:

[code]

to be better than:

[code]

[2019-02-05 21:33] kyrofa commented on #174
Fair enough. I don't completely agree, but I trust your vision! Let me take a crack at it.

[2019-02-06 18:04] jacobperron commented on #174
+1 for the event handler solution.
What about adding syntax sugar for common event handlers to the XML front-end (#163)? I imagine the XML front-end will be more common for creating launch files (as it is in ROS 1) and so it's probably worth having short-hands for `required=true` and `respawn=5`, for example.

[2019-02-06 18:08] kyrofa commented on #174
You're right @jacobperron, I agree. Once the XML is in place I suspect that will be what most folks use.

[2019-02-07 16:37] hidmic commented on #159
Well, this ended up being much more work than expected. Above list isn't exhaustive: it's missing all the `*.py.in`  files that make use of the legacy launch API.

[2019-02-07 22:07] kyrofa commented on #174
Alright, the new approach is up in #179, thoughts welcome.

[2019-02-08 00:01] #174 closed

[2019-02-09 00:04] pbaughman opened #180 "Shutdown action does not interrupt timers"
## Bug report
A launch.actions.TimerAction will keep a launch service running even after a Shutdown action

It's possible this is expected behavior, but from the [description of a shutdown action](https://github.com/ros2/launch/blob/master/launch/launch/actions/shutdown_action.py#L29) I'd expect it to terminate everything right away
**Required Info:**

- Operating System: Ubuntu 16.04
  -
- Instal

[2019-02-09 00:12] wjwwood commented on #180
I didn't intentionally make it so that timers would hold up the system, however, that might be important to the design right now. For example, when you call for shutdown, timers are created, that need to not immediately expire, to escalate to SIGTERM and SIGKILL for processes that are misbehaving.

I think the appropriate solution is that timers are changed to intercept shutdown events and cancel

[2019-02-09 00:17] pbaughman commented on #180
Thanks @wjwwood - I'll take a crack at this

[2019-02-09 00:34] wjwwood commented on #164
@manaswinidas

I haven't heard from you in a bit (which is totally fine!), but because of that I'm going to put this back into our backlog. If you're still working on it, feel free to speak up and I'll put it back in progress, or if you don't have time right now but do in the future, speak up then and I can put in progress again at the point.

Thanks!

[2019-02-13 20:27] pbaughman opened #183 "timer_action use of global variable prevents multiple launches from same process"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 16.04
- Installation type:
  - source
- Version or commit hash:
  - 34f10c69ea0f666348e11c2e5c7d66e947430730
- DDS implementation:
  -
- Client library (if applicable):
  -

#### Steps to reproduce issue

[code]

#### Expected behavior
The talker node should be launched, shutdown, launched, and shutdown again

#### Actual behavior
T

[2019-02-13 20:42] pbaughman commented on #183
I have some time to fix this issue, too.  The _event_handler_has_been_installed bool should probably be scoped to the context, not to a module level global.

Since it's python, does anybody object to me just sticking a field onto the launch context object.  Since this is more of an implementation detail, I think that's preferable to sticking it into the context __globals dictionary

Something like

[2019-02-14 01:01] #183 closed

[2019-02-14 14:32] ivanpauno opened #185 "Asyncio traceback when closing"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - from source
- Version or commit hash:
  - https://github.com/ros2/launch/commit/67c2006628044a5264452f211c73ad0ac21b8b12
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue
Example launch file with the issue:

[code]
I ran it doing python3 _SCRIP

[2019-02-15 19:20] pbaughman commented on #180
Merged!

[2019-02-15 19:20] #180 closed

[2019-02-15 22:49] stonier opened #186 "[launch_ros] launch_ros.get_default_launch_description() exceptions"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - binaries
- Version or commit hash:
  - latest debs, 15/02/2019
- DDS implementation:
  - default
- Client library (if applicable):
  N/A

#### Steps to reproduce issue
Create a launch file:

[code]

Then proceed to launch it with `ros2 launch ...`

#### Expected behavior

Launches without raising excep

[2019-02-15 23:05] wjwwood commented on #186
Sounds like we need to conditionally init in the launch code to avoid this error.

On the flip side, I'm not sure how to prevent users from running into issues if they're using launch for testing, but are doing init/shutdown in cycles from within their tests too. The shutdown will likely break launch in the process.

In C++, I recently added an option to have multiple simultaneous context's, which

[2019-02-15 23:09] wjwwood commented on #186
Looks like you can:

https://github.com/ros2/rclpy/blob/174e3375d137f7239c9c83bebaf87c048e132bd5/rclpy/rclpy/__init__.py#L24-L28

So I think the right way to fix this would be to create a custom context in `ROSSpecificLaunchStartup` class and use that to avoid the reported exception and issues due to the user calling shutdown themselves.

[2019-02-18 03:23] stonier commented on #186
So I did some more digging and in the process of applying a custom context everywhere it turns out this is a red herring, at least for my case here.

In the example above, I was unwittingly making a second call to `launch_ros.get_default_launch_description()` in my custom `generate_launch_description()` method.

The first call of course, is made in `ros2launch` itself ([here](https://github.com/ro

[2019-02-18 04:18] stonier opened #187 "setup_py / --symlink-install / launch files"
This came up in #83 and I'm interested in chasing it down. Only question is, where to start.

Example installation snippet for launch files in a pure setuptools python package:

[code]

Most of the heavy lifting seems to be done by [colcon-python-setup-py](https://github.com/colcon/colcon-python-setup-py) which does not seem to do anything out of the ordinary.

Curiously though, the `package.xml`

[2019-02-18 05:14] stonier opened #188 "Launch not wiring print statements to stdout in realtime"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - binaries
- Version or commit hash:
  - Crystal
- DDS implementation:
  - Default
- Client library (if applicable):
  - rclpy

#### Steps to reproduce issue

* Put a `cout` equivalent of the logged message in [demo_nodes_cpp/src/topics/talker.cpp](https://github.com/ros2/demos/blob/master/demo_nodes_cpp

[2019-02-18 15:00] hidmic commented on #163
A first XML launch format specification can be found in ros2/design#207. Several approaches on how to implement launch front ends (in general, not specific to XML) are described in ros2/design#208.

@wjwwood and I think that [ADP](https://github.com/ros2/design/pull/208/files#diff-1acde8639704c397705390e306dba4bfR190) offers the best tradeoff between complexity, scalability and extensibility, and

[2019-02-19 07:09] wjwwood opened #189 "[launch_ros] use a custom context to avoid interferring with user init/shutdown of rclpy"
## Feature request

#### Feature description

Right now `launch_ros` (or more specifically `ros2 launch`) will init rclpy, create a node, and then later shutdown rclpy. It also expects that shutdown is not called prematurely.

If the user did their own init or shutdown, it might interfere with this. So `launch_ros` should instead use a custom context and do its own init and shutdown there.

[2019-02-19 07:10] wjwwood commented on #186
I'm fine with closing for now, I made a new issue to track the enhancement: https://github.com/ros2/launch/issues/189

[2019-02-19 07:10] #186 closed

[2019-02-19 08:54] wjwwood commented on #187
Symlink install for python packages doesn't actually symlink anything, it uses setuptool's develop mode. So the files being installed with `data_files` are not actually being placed in the `install` folder. Also, launch has no way of finding the build or source folders for a package, so I don't have any ideas for how to improve that right now.

[2019-02-19 09:07] wjwwood commented on #188
I think the difference is that we intentionally flush the out when logging:

https://github.com/ros2/rcutils/blob/a7581a333444c2804f2b7c27dd0da1b2946bebff/src/logging.c#L702

There is inherent buffing of stdout when a process is not connected to a tty.

If you changed this:

[code]

I expect that you'll see prompt printing.

----

It's possible that the `emulate_tty` option in `osrf_pycommon`'s AP

[2019-02-19 21:42] pbaughman commented on #189
@wjwwood I actually have a version of this done, but I'm waiting for ros2 crystal internally to test it (the version we have doesn't let you pass arguments to init yet).  I will push it for review, but I haven't been able to test it yet

[2019-02-19 21:45] pbaughman commented on #188
You can workaround [by doing this](https://answers.ros.org/question/312737/any-way-to-see-io-sooner-with-onprocessio-event-in-ros2-launch-description/?answer=312816#post-id-312816)

[2019-02-20 00:28] wjwwood commented on #189
That would be great!

[2019-02-22 03:38] stonier commented on #188
`emulate_tty=True` works if a bugfix goes into this code:

https://github.com/osrf/osrf_pycommon/blob/1db811bff17400e5e5402ddb6fa1dc786bf63cf5/osrf_pycommon/process_utils/async_execute_process_asyncio/impl.py#L67-L68

so that keyword arguments are utilised (otherwise you'll get positional argument errors):

[code]

Are there consequences of `emulate_tty` you are wary of or would you like me to sen

[2019-02-22 04:11] wjwwood commented on #188
`emulate_tty` does cause extra overhead, in that it needs to create a pty pair for stdout and stderr of each subprocess. So in situations like with `catkin_tools` you could run out of pty's on your system. This is usually configurable in kernel settings or similar, and I believe `osrf_pycommon` will gracefully degrade to not using `emulate_tty` when no more pty are available. There's also the poss

[2019-02-28 15:37] #159 closed

[2019-02-28 15:44] hidmic commented on #159
Do we want to remove any trace of the legacy API too? @mjcarroll @dirk-thomas

[2019-02-28 15:48] mjcarroll commented on #159
I think since nothing is using it, it's safe to drop.  Sorry, I thought that was part of the previous PR here, so I closed the issue.  If we need to, we can reopen to track this.

[2019-03-01 13:39] stonier commented on #187
Those files are actually being installed into the `install` folder, just not unwound and symlinked like `package.xml`. Talked to @dirk-thomas the other day though, he pointed to where colcon is doing the symlinking for python packages, so I'm shifting the details of this issue there (https://github.com/colcon/colcon-core/issues/169).

Wrapping up, workaround in the meantime (if you want symlink in

[2019-03-01 13:40] #187 closed

[2019-03-06 23:09] crdelsey opened #194 "add_test_action no longer triggers shutdown on completion"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - source
- Version or commit hash:
  - d5ace508426 (latest on 6 Mar 2019)
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue
Run `colcon test` on the navigation2 repo.

#### Expected behavior
Add the end of the test action execution, the `Launc

[2019-03-06 23:13] jacobperron opened #195 "Support Python 3.5.2 (Xenial)?"
## Feature request

#### Feature description

Until recently, `launch` was compatible with Python 3.5.2, which is the current default version for `python3` on Ubuntu Xenial, but now is broken.

#167, introduced the following line:

https://github.com/ros2/launch/blob/d5ace5084262de96115ea7d68b1c43160b0bf3e7/launch/launch/actions/opaque_coroutine.py#L20

`Coroutine` is not available in the `typing`

[2019-03-06 23:15] dirk-thomas commented on #195
Duplicate of ros2/build_cop#170.

[2019-03-07 00:48] jacobperron commented on #195
@dirk-thomas Okay. What do you think about #196 as an alternate solution? I've been using it locally as I'm running Xenial. But I don't mind upgrading to Bionic if we're dropping support for Xenial.

[2019-03-07 00:54] jacobperron commented on #195
I've seen your comment in #196 :+1:

[2019-03-07 00:54] #195 closed

[2019-03-07 02:09] wjwwood commented on #194
@hidmic or @mjcarroll would one of you have some time to look at this?

[2019-03-07 12:50] hidmic commented on #194
Hmm for starters that example launch file is adding the same `test_dynamic_params_client` process action twice: once [here](https://github.com/ros-planning/navigation2/blob/master/nav2_dynamic_params/test/dynamic_params_test.launch.py#L45) and then [here](https://github.com/ros-planning/navigation2/blob/master/nav2_dynamic_params/test/dynamic_params_test.launch.py#L47). And I _think_ that's undefi

[2019-03-07 14:28] hidmic commented on #162
Basic functionality already provided by https://github.com/ApexAI/apex_rostest/tree/master/apex_launchtest_cmake. Closing this one.

[2019-03-07 14:28] #162 closed

[2019-03-07 14:31] hidmic commented on #161
Basic testing functionality is provided by the `launch_testing` module after #167. A feature complete equivalent of ROS 1 `rostest` is on the making at [ApexAI/apex_rostest](https://github.com/ApexAI/apex_rostest).

[2019-03-07 17:47] crdelsey commented on #194
@hidmic Thanks for taking a look through that launch file. The duplicate addition of the of the test action was the problem. I appreciate the help :-)

I'll close the issue since it is resolved.

[2019-03-07 17:47] #194 closed

[2019-03-11 14:11] hidmic commented on #159
Alright, legacy launch API completely deprecated after https://github.com/ros2/launch/pull/191. Dashing release changelist reflects this after https://github.com/ros2/ros2_documentation/pull/135.

[2019-03-12 12:49] #185 closed

[2019-03-14 11:56] hidmic commented on #176
Addressed by #178.

[2019-03-14 11:56] #176 closed

[2019-03-14 14:34] mjcarroll commented on #188
@stonier What's the status of this?  Did #52 provide any steps towards resolving this?

[2019-03-15 11:37] stonier commented on #188
@mjcarroll you're pointing to a very old PR (2017). Was that intended?

I've got the bugfix PR in that enables the solution proposed  by @wjwwood to be attempted but haven't had the cycles to contribute that PR yet.

[2019-03-18 02:32] stonier opened #203 "[introspector] failing when env is set by the user"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - binaries
- Version or commit hash:
  - crystal
- DDS implementation:
  - default
- Client library (if applicable):
  - n/a

#### Steps to reproduce issue

Add an env dict to the arguments for a node action and also call the introspector.

[code]

#### Expected behavior

No errors.

#### Actual behavior

[2019-03-18 14:42] hidmic commented on #126
Alright, I just stumbled upon this issue too. It's quite inconvenient, as pushing the service to a thread instead of pushing the tests (as @pbaughman had to do) simplifies things quite a bit. I'll dig in a bit.

[2019-03-18 15:06] wjwwood commented on #203
Yeah, looks like the custom logic for ExecuteProcess hasn't been updated. My intention was to enable automatic rendering of launch entities, so that the action specific custom code in launch introspector could be removed at some point.

[2019-03-18 19:01] hidmic commented on #126
Ok, there seems to be a fundamental limitation in `asyncio` when it comes to subprocesses. At least on Unix platforms and as of Python 3.6, all child watchers rely on `SIGCHLD` to monitor subprocesses termination and loop signal handlers can only be serve in the main thread event loop. Thus, there's no way to push the `LaunchService` to a background thread.

[2019-03-18 23:19] stonier opened #204 "[launch] unexpected behaviour setting node_name on a multi-node process"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - binaries
- Version or commit hash:
  - crystal
- DDS implementation:
  - default
- Client library (if applicable):
  - rclpy

#### Steps to reproduce issue

Multi-node rclpy process (installs ros2 runnable `testies`):

[code]

And launcher:

[code]

#### Expected behavior

With `node_name="one"` commen

[2019-03-18 23:34] stonier opened #205 "[launch_ros] node_name overrides for a multi-node rclpy process"
#### Feature description

A means of setting `node_name` overrides for a multi-node rclpy process such as that given in #204.

#### Implementation considerations

This also brings into question the naming of the class `launch_ros.actions.Node` since it currently can launch a multi-node process. Perhaps that should fail on trying to launch a multi-node process and for that, use a `launch_ros.action

[2019-03-18 23:51] stonier commented on #205
FYI @IanTheEngineer

[2019-03-18 23:51] stonier commented on #204
FYI @IanTheEngineer

[2019-03-19 02:07] sloretz commented on #204
linking ros2/rcl#375 for context

[2019-03-19 02:08] huchhong opened #206 "TypeErorr: get_default_launch_description() got an unexpected keyword argument 'prefix_output_with_name'"
## Bug report

**Required Info:**

- Operating System:
  Ubuntu 18.04
- Installation type:
  from source
- Version or commit hash:
  commit: 849824be59e61480d39e302caa9fc815acce6b04
- DDS implementation:
   Fast-RTPS

#### Steps to reproduce issue
I downloaded ros2.repo from ros2 master branch, and the commit id of launch is given above. After i compiled ros2, i tested a simple launch.py which can

[2019-03-19 02:19] sloretz commented on #206
Fixed by ros2/launch#201

[2019-03-19 15:49] wjwwood commented on #205
https://answers.ros.org/question/316870/ros2-composition-and-node-names-with-launch-files/?answer=316925#post-id-316925

[2019-03-19 15:50] wjwwood commented on #204
I believe this is the expected behavior when overriding the node name using the command line in a multi-node process.

Launch cannot know if the executable you're running is multi-node or not, and therefore cannot do anything about it.

See also: https://answers.ros.org/question/316870/ros2-composition-and-node-names-with-launch-files/?answer=316925#post-id-316925

[2019-03-20 02:18] sumanth-nirmal opened #207 "Launch hangs with mutiple ctrl-c"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 16.04, 4.15.0-46-generic, python 3.5.2
- Installation type:
  - From source
- Version or commit hash:
  - Launch version `0.7.3`
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclpy

#### Steps to reproduce issue

Multiple `ctrl-c` hangs ROS 2 launch system while exiting the launch file (with multiple proc

[2019-03-20 18:36] wjwwood opened #208 "merging with ApexAI/apex_rostest and repository reorganization"
See also: https://github.com/ApexAI/apex_rostest/issues/18

We plan to integrate the work done in https://github.com/ApexAI/apex_rostest into this repository and at the same time separate the ROS specific components of launch into a new separate repository (https://github.com/ros2/launch_ros).

This is the planned layout:

- repository ros2/launch:
  - package `launch`
  - package `launch_testing`

[2019-03-20 18:58] wjwwood commented on #208
Some RFC points:

- Should we have a separate repository for `rostest`?
  - We could just place this package in the ros2/launch_ros repository.
- Should we call it something other than `rostest` (package and/or repository)?

[2019-03-20 19:04] dirk-thomas commented on #208
I would lean towards yes - in order to be distinguishable / searchable - since it has a completely different API / usage then the package from ROS 1.

[2019-03-21 02:11] gbiggs commented on #208
How tightly is it tied to launch?

[2019-03-21 19:48] hidmic commented on #206
To the best of my knowledge, this has been addressed by #201. @huchhong please confirm. I'll keep the issue closed for the time being.

[2019-03-21 19:48] #206 closed

[2019-03-21 23:00] dirk-thomas opened #213 "output path of generated log file"
When a log file is generated the path should be printed to the console for visibility to the user.

Follow up of #145.

[2019-03-21 23:00] dirk-thomas opened #214 "provide an option to change the default output setting"
The current default is [log](https://github.com/ros2/launch/blob/86f663db2ff878b5541bf4a51a23f04eac606f5f/launch/launch/actions/execute_process.py#L92) and defined on a per process level. It would be more convenient if the default would be `both` since the common user expects to see the output of the processes.

Independent of the default value there should be a command line option to change the g

[2019-03-21 23:12] wjwwood commented on #214
That's because of how it is in ROS 1:

-- from: https://wiki.ros.org/roslaunch/XML/node

I don't know if `both` is a better default, but my personal preference is to see everything. That does go in contrast other defaults, like rosbuild and colcon where the default is to hide the build output and only show errors.

I don't know what the appropriate way to do this is.

I think the best way for a us

[2019-03-21 23:22] dirk-thomas commented on #214
Good point with the comparison of other tools. I understand the desire to keep the verbosity low. With #212 being fixed the urgency for default verbosity is much less important to me.

Sounds good to me. Would it be possible to see this option when calling the launch file with `--help` then?

[2019-03-21 23:24] dirk-thomas commented on #214
I changed the title to reflect the direction of the conversation and unassigned the ticket for now leaving it as an enhancement.

[2019-03-21 23:35] wjwwood commented on #214
There's a `--show-arguments (-s)` which will show you the launch arguments. But we could add an option to `ros2launch` which automatically passes this argument to the launch file, basically just using the launch argument as the mechanism to interact with the launch file.

The other way to do it would be to use an environment variable.

[2019-03-22 17:44] wjwwood commented on #5
This is covered by the on going work in the new launch system, see: https://github.com/ros2/launch/issues/208

[2019-03-22 17:44] #5 closed

[2019-03-22 17:45] wjwwood commented on #20
Closing as the legacy system is no longer in use.

[2019-03-22 17:45] #20 closed

[2019-03-22 17:46] wjwwood commented on #26
Closing since the legacy launch testing is no longer in use.

[2019-03-22 17:46] #26 closed

[2019-03-22 17:47] wjwwood commented on #64
Closing since the legacy launch testing is no longer in use.

[2019-03-22 17:47] #64 closed

[2019-03-22 17:47] wjwwood commented on #66
Closing since the legacy launch testing is no longer in use.

[2019-03-22 17:47] #66 closed

[2019-03-22 18:01] wjwwood commented on #189
This was done in #193.

[2019-03-22 18:01] #189 closed

[2019-03-22 21:57] wjwwood commented on #208
I don't fully understand what you're asking. It uses launch. I have some bullets above about what would be in it and why it would exist.

[2019-03-23 02:26] oswinso commented on #164
I'm not sure if anyone is working on this right now, but I'd like to try and work on this issue.

[2019-03-24 22:43] gbiggs commented on #208
You asked if `rostest` could just be placed in the `launch_ros` repository. If it only uses launch, rather than being an integral part of it, then I think it should have its own repository.

[2019-03-25 14:27] hidmic commented on #214
Hmm, shouldn't the argument be available regardless of whether one is using ROS specific launch entities or not? Perhaps we need a `default_launch_description` that is ROS agnostic?

[2019-03-25 18:11] wjwwood commented on #214
That would be nice to have, but you'd need to update `ros2launch` to take that option as well.

Honestly, an environment variable might be just as good or better.

[2019-03-25 18:24] hidmic commented on #214
I have no preference really, so it's up to you guys how/if you want to set a global default for launched processes output configuration. @dirk-thomas ?

[2019-03-25 18:26] dirk-thomas commented on #214
I don't have a preference either- I would just like to be able to change the configuration somehow.

[2019-03-25 18:36] wjwwood commented on #214
The environment variable is less intrusive, but also not automatically documented in the launch description (not as visible as a declare launch argument action). However, the main purpose is to use it with `ros2launch` and that could have a command line argument which is documented and which just sets the environment variable locally if asked to by the command line flag. So I'm leaning to the env

[2019-03-25 18:43] hidmic commented on #214
Sounds good to me. How do you feel about documenting the equivalent envvar along with the new `ros2 launch` command line option?

[2019-03-25 18:51] wjwwood commented on #214
I think that's a good idea, it should be documented in the `ExecuteProcess` class as well, but explaining that the command line argument works by using the env var is a good idea.

[2019-03-25 18:53] wjwwood commented on #208
I understand what you mean now, and yes that was our original thinking (it uses launch but it not part of it), but I just wanted to RFC it since it also seemed kind of wasteful since it will end up being (at least for now) very thin itself.

[2019-03-26 15:46] #213 closed

[2019-03-26 18:57] #214 closed

[2019-03-26 21:39] oswinso commented on #203
Weird, because I can't reproduce the error on Ubuntu 18.04 on Master. I get the correct output:
[code]

[2019-03-27 01:58] stonier commented on #203
Yes, also confirmed. Looks like https://github.com/ros2/launch/commit/632ef1f3eca7dbc54fbed85ab65a5efc512d83ed#diff-970fc3c5d394ad33c14e4f9fe55288ceR113 bugfixed it, but this is applied post `v0.7.3` which is the version that this bug was reported against. I've tested that one-line patch on the crystal release and verified it works without anything beyond that line.

[2019-03-27 02:05] stonier commented on #203
@wjwwood this doesn't move in the direction you articulated, but it does resolve the bug. Further work could be outlined in a different issue?

[2019-03-27 03:29] stonier commented on #204
Nice informative article on ros answers, thanks.

Couldn't launch do something about it in the same way that the command line overrides do? e.g. an api like:

[code]

`MultiNode` could be for all intensive purposes, the same as `Node` sans the way it creates the command line arguments for the process.

[2019-03-27 03:42] wjwwood commented on #204
Having an action for multi node processes is exactly what is needed, but it also relies on separating node description and arguments (remapping, parameters, etc) and the process to be executed.

See:

- Separate "executable" from "execute": https://github.com/ros2/launch/issues/114
- Introduce idea of "Composable Node", probably should inherit from "Node" which can be given to "ExecuteNode": https

[2019-03-27 11:32] stonier commented on #204
Aye, lots more than just node name remapping. I cherry-picked that just to keep the example simple.

My use case actually doesn't lend itself to Composable Nodes. I have independently built classes that are instantiated and required to work together via their programming (not middleware) api in an application. The nodes are there for communicating to external processes.

[2019-03-27 22:09] wjwwood commented on #204
Sure, I just meant that like ComposableNode's we need to separate the description of a node from the execution of them. Which composable nodes inherently do, but currently the existing "Node actions" (multi- node or not) do not.

I talk about this in my most recent ROSCon talk:

https://roscon.ros.org/2018/presentations/ROSCon2018_launch.pdf (slide number 7)

But it has unfortunately yet to make i

[2019-03-28 19:12] nuclearsandwich commented on #203
CI for the branch in #220.

* Linux [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux&build=6553)](http://ci.ros2.org/job/ci_linux/6553/)
* Linux-aarch64 [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux-aarch64&build=2892)](http://ci.ros2.org/job/ci_linux-aarch64/2892/)
* macOS [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_osx&build=5370)](http://ci.r

[2019-03-28 19:43] #164 closed

[2019-03-28 21:01] nuclearsandwich commented on #203
The failures above are down to https://github.com/ros2/launch/pull/169 not being backported. We've ignored them previously because launch wasn't being included in the patch release.

[2019-03-29 22:34] wjwwood commented on #203
So we need to backport #169 as well @nuclearsandwich?

[2019-03-30 00:13] wjwwood commented on #203
I backported #169 speculatively.

[2019-04-02 01:30] wjwwood commented on #203
I'm going to close this since it's fixed on master and it is staged for backport into Crystal as well.

[2019-04-02 01:30] #203 closed

[2019-04-05 01:05] dejanpan commented on #208
@pbaughman could you look at the open PRs above? thx

[2019-04-08 21:09] hidmic commented on #104
All standing PRs have been merged, though I cannot say https://github.com/ros2/launch/issues/104#issuecomment-424860566 points are all addressed.

[2019-04-10 17:29] jacobperron commented on #104
I don't think the two points in https://github.com/ros2/launch/issues/104#issuecomment-424860566 are addressed, but I don't think they're critical and could be captured in separate tickets.

[2019-04-12 20:33] wjwwood commented on #208
@hidmic can you collect the pr's that are against various packages to use the new interface under the todo bullet point in the original comment? I know you've connected them to this pr, but it would helpful for people using this issue as an entry point to have them in a bullet list above.

[2019-04-25 17:16] hidmic commented on #208
@wjwwood do you think it's worth to have a separate `rostest` tool? We can do `launch_test`already.

If so, I'm going to need a repo :)

[2019-04-25 17:54] wjwwood commented on #208
Does `launch_test` automatically include the ros specific launch actions?

At the very least we need something like `ros2 launch-test`? which includes the default ros stuff and then runs the launch file.

I'll create the repository and if we don't need it I'll delete it again.

[2019-04-25 17:57] wjwwood commented on #208
Created it https://github.com/ros2/rostest and added your team to it.

[2019-04-25 18:02] dirk-thomas commented on #208
Is `rostest` a good name for this? I can see a lot of confusion between the ROS 1 equivalent and problems with searchability if we use the same name in ROS 2.

[2019-04-25 18:04] wjwwood commented on #208
I asked, there were no alternatives proposed.

[2019-04-25 18:08] dirk-thomas commented on #208
Then we should come up with another name - since the concern that `rostest` is confusing was brought up [earlier](https://github.com/ros2/launch/issues/208#issuecomment-474985840).

[2019-04-25 18:40] hidmic commented on #208
No, it does not inject them, though I personally think that the tool should not be the one that does it but the user explicitly through some fancy decorator or any of the `get_default_launch_description` functions. Otherwise you may ran into the situation in which an unaware user duplicates that preamble.

I see the appeal of a `ros2 launch-test` CLI but following above rationale I don't see what

[2019-04-25 20:46] wjwwood commented on #208
I'm not going to block the progress on this if no one can suggest an alternative. If you or anyone else has a better idea (I don't) then please suggest it, otherwise we need to continue.

----

If every test has the decorator, then I don't agree. It would be better to include it automatically, otherwise it becomes just boilerplate. Why would the user include that themselves? I saw that happened on

[2019-04-26 20:32] pbaughman commented on #208
Would it solve the problem is there was a `ros2 test` verb package that include launch_testing, launch_testing_ros, and the package with the cmake functions?  That would be one single point of entry for testing.

[2019-04-26 22:43] wjwwood commented on #208
That package would be called `ros2test`, which is ok by me. The only hesitation I have is that `ros2X` usually (until now) only included the command line tool and was pure python, this one would need to potentially contain more and be a CMake package instead.

[2019-04-28 07:58] dejanpan commented on #208
I second ros2test name.

@hidmic what is holding back above PRs to be merged? we looked them up yesterday and they were all approved.

Do you need any help?

[2019-04-28 12:38] hidmic commented on #208
@dejanpan after addressing all review comments, I started to see test failures locally. I'm still solving/fighting them. I plan to get this all in by Monday EOD, hopefully.

[2019-05-01 21:53] wjwwood commented on #208
@hidmic I tentatively moved this into "done" for the Dashing API freeze, feel free to disagree.

[2019-05-01 22:34] dirk-thomas opened #230 "options to rotate log files"
There should be options to rotate the log files based on either of the following criteria:

* maximum size of a log file (e.g. 100MB)
* maximum duration of a log file (e.g. 24h)

[2019-05-10 14:57] hidmic commented on #208
@wjwwood may I ask you to create the `rostest` repository?

[2019-05-10 15:53] hidmic commented on #208
@wjwwood I just realized I never posted my reply to https://github.com/ros2/launch/issues/208#issuecomment-486831529.

I generally agree with the idea of reducing boilerplate as much as possible, and thus maybe a decorator is not the best solution. But regardless of which mechanism we may chose, I do think that explicit is almost always better than implicit.

This is a special case, though, becaus

[2019-05-10 16:17] hidmic commented on #230
@dirk-thomas it's either but not both, right?

[2019-05-10 16:18] dirk-thomas commented on #230
Implementation wise I don't see a reason why specifying both at the same time should be any more difficult. In that case we don't have to restrict it to either or.

[2019-05-10 16:19] hidmic commented on #230
Well, for either I can use existing logging handlers, for both I need to roll out a custom one.

[2019-05-10 16:20] dirk-thomas commented on #230
Ok, that is a good enough reason to only allow either or for now :+1:

[2019-05-10 17:51] wjwwood commented on #208
Basically the idea was that the preamble remain optional and replaceable, if I initialized them via the other actions then these two characteristics are hard to ensure. I guess you could have a function that replaces the default before you launch (and you could replace with empty). I'm not too worried about this point, but it was something that I was thinking about.

Also, I very much wanted to do

[2019-05-10 17:53] wjwwood commented on #208
Also, to extend my first point about making this infrastructure replaceable, for testing a Node might need us to start a rclpy node when testing but not when launching, whereas a lifecycle node might require that when testing and launching, so it might not be straightforward to add an action to each other action which "needs" an rclpy node, because it may not be clear when that is. That's another

[2019-05-10 20:37] hidmic commented on #208
Hmm, I see the benefit for testing now. And yeah, we should add a check for the features to be present, though if we keep the preamble that can wait.

Alright, fair enough, I'll take care of `ros2test` except for the preamble injection and figure out how to do the plumbing afterwards. cc @pbaughman in case has some ideas on this regard.

[2019-05-13 14:23] #230 closed

[2019-05-13 18:53] pbaughman commented on #208
May or may not be helpful, but just add ROS specific startup to the test launch descriptions that need it, and don't add it to the ones that don't.  It's not elegant and it requires you to understand what's going on behind the scenes a little, but it works for me.

[2019-05-13 19:01] wjwwood commented on #208
Yeah, I'm afraid that's not going to work at scale, plus as I alluded to above, what "needs it under the hood" may change over time or based on the scenario, so it's probably best something the user doesn't have to declare.

[2019-05-15 15:55] hidmic opened #237 "Hook up launch tests in pure Python packages"
## Feature request

#### Feature description

As a follow-up of https://github.com/ros2/launch_ros/pull/15#issuecomment-488157564, we currently lack a way to register launch tests to be run in pure Python packages. We need a way to do so.

#### Implementation considerations
As of https://github.com/ros2/launch/pull/236, `launch_test` can now be run from Python code. We'd just be lacking a `pytest`

[2019-05-15 16:06] dirk-thomas commented on #237
Why can't the launch file be invoked like any other test in a Python package?

[2019-05-15 16:11] hidmic commented on #237
Because a launch test is (currently) not just another `pytest` and thus it cannot be picked up by it as-is.

[2019-05-15 16:13] hidmic commented on #237
Put in another way, the `launch_test` command replaces `pytest` entirely.

[2019-05-15 16:16] dirk-thomas commented on #237
What would be the benefit over running the launch file as a normal unit test using `pytest`?

[2019-05-16 20:37] hidmic commented on #161
Functionality provided here has been superseded by that introduced on #208. Refer to that issue for further reference.

[2019-05-16 20:37] #161 closed

[2019-05-17 04:10] #208 closed

[2019-05-17 20:31] wjwwood opened #242 "launch.actions.LogInfo prints to the screen twice"
I have this demo I was making to answer a question, and noticed that the `LogInfo` action prints to the screen twice. Here's the demo:

[code]

When I run that I get:

[code]

I haven't had time to investigate, but I thought I'd go ahead and report it while it was fresh.

@hidmic any ideas? I already poked @jacobperron about it.

[2019-05-21 10:36] mxgrey opened #248 "[launch] Unexpected failure when providing arguments to an included launch description"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - Binaries
- Version or commit hash:
  - Crystal
- DDS implementation:
  - N/A
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

Create a simple python ROS2 package (I'm naming it `launch_test`) containing these two launch files:

[code]

[code]

Then build/install this package to

[2019-05-21 10:45] mxgrey commented on #248
I've just realized a better workaround for anyone that runs into this issue. Just explicitly declare the launch argument in the child launch file description:

[code]

But this strikes me as not being ideal, since (1) it's duplicating information, and (2) it implies that `my_arg` is meant to be set by the user, which is not really the case.

[2019-05-21 12:55] ivanpauno commented on #248
I have been able to reproduced this.

Additional info: Strangely, if you create the LaunchService in the child.launch.py, include the description and run it, the problem does not appear.

I will try to dig a little bit more into this.

[2019-05-23 00:54] #242 closed

[2019-05-28 20:29] #248 closed

[2019-05-29 02:11] rotu commented on #144
Still broken :-1:

[2019-05-29 23:36] wjwwood opened #253 "remove conceptual dependency on ROS_DOMAIN_ID in launch_testing"
Currently `launch_testing` has options/features related to `ROS_DOMAIN_ID`:

https://github.com/ros2/launch/blob/066009b097e06dad7f981de55b9ee05c83cf6e0b/launch_testing/launch_testing/launch_test.py#L51

This should not be the case, it is inappropriate for anything in this repository to depend on, reference, or really even mention anything from ROS.

There's a TODO, which I linked to, but I opened

[2019-05-30 00:29] pbaughman commented on #253
Do you have any suggestions about how to fix it?  The cure (removing this) seems worse than the disease right now

[2019-05-30 00:46] pbaughman commented on #253
Could we add an extension point to launch_test so that when launch_testing_ros is installed you get the isolation behavior?

[2019-05-30 00:47] pbaughman commented on #253
I guess we could also add a different runner with a different name to run tests that need ROS

[2019-05-30 13:32] hidmic commented on #253
I fully agree. As it stands, this option could be moved to the [`ros2test`](https://github.com/ros2/ros_testing/blob/master/ros2test/ros2test/command/test.py#L24) CLI command with little to no effort (owing to the fact it's just an envvar).

[2019-05-30 14:16] pbaughman commented on #253
@hidmic will we add a different cmake function that calls the ros2cli command?  The dependency graph for that cmake function will be quite long, but maybe not that much longer than launch_ros

[2019-05-30 14:22] hidmic commented on #253
@pbaughman there is one already, [`add_ros_test()`](https://github.com/ros2/ros_testing/blob/master/ros_testing/cmake/add_ros_test.cmake).

[2019-05-30 20:29] hidmic opened #254 "Handle split launched processes logged output"
## Bug report

**Required Info:**

- Operating System:
  - Windows Server 2019 Datacenter (akin to Windows 10)
- Installation type:
  - From binaries.
- Version or commit hash:
  - [Dashing pre-release](https://ci.ros2.org/job/packaging_windows/1388/)

#### Steps to reproduce issue

Run any launch file, e.g. the in lifecycle demos:
[code]

#### Expected behavior
Processes output is logged appropri

[2019-05-30 22:10] pbaughman commented on #253
@hidmic I want to refactor the domain coordinator into its own package so I can do this https://github.com/ament/ament_cmake/issues/172 so lets's make sure we coordinate on this.

[2019-06-04 19:01] ivanpauno commented on #253
Sounds good. Where should the domain coordinator live?
If it doesn't fit well in an existing repo, I will need a new one (I can't create one).

[2019-06-04 20:57] pbaughman commented on #253
@ivanpauno In the WIP I've got now, it lives in ament_cmake_ros along with a new ament_cmake_pytest_isolated and an ament_cmake_gtest_isolated package

[2019-06-04 21:26] ivanpauno commented on #253
I think `ament_cmake_pytest_isolated` and `ament_cmake_gtest_isolated` should live in `ament_cmake_ros`. But the code of the domain coordinator could be in a separated repo, as it is really a python package (and not cmake stuff). It's ok for me having it there though.

[2019-06-04 21:33] pbaughman commented on #253
@ivanpauno Let's talk about it in the MR once I open it, but there's one cmake thing that I jammed into the domain_coordinator package - it might make sense to move it, or it might not.

[2019-06-06 14:09] #254 closed

[2019-06-06 21:37] pbaughman commented on #144
It's surprising to me that [the tests for the timer action](https://github.com/ros2/launch/blob/master/launch/test/launch/test_timer_action.py) don't catch this issue.  I wonder if it only happens when using the ros2launch CLI tool. . . anyway, this is going to affect me too very soon, so I'm going to dive in.

[2019-06-06 21:52] pbaughman commented on #144
Oh nevermind - I see - it's a result of the launch description being part of another 'include launch description' action and calling 'get_launch_arguments' which never happens in the tests

[2019-06-06 22:58] pbaughman commented on #144
@jacobperron  Can't we do something like:

[code]

We don't need any type checking - `describe_conditional_sub_entities` always returns a list of (description, List[LaunchDescriptionEntity]) tuples and `process_entities` always takes a list of LaunchDescriptionEntity objects.  We just need to convert the former into the latter before we recurse.

Am I missing something?

[2019-06-06 23:13] jacobperron commented on #144
@pbaughman It's been a while since I looked at this, but based on the method signatures that seems correct to me.

[2019-06-07 01:13] #144 closed

[2019-06-10 15:21] ivanpauno opened #260 "Change `env` and `additional_env` type in `ExecuteProcess`"
## Feature request

#### Feature description
The expected type of both parameters is now:
[code]
But `SomeSubstitutionsType` is not always hashable.
I would recommend changing it too:
[code]
For backwards compatibility, maybe a better idea is to accept both:
[code]

See https://github.com/ros2/launch/pull/226#discussion_r291359167.

[2019-06-10 19:51] #253 closed

[2019-06-13 15:14] ivanpauno opened #263 "Change `cmd` parameter in `ExecuteProcess`"
## Feature request

#### Feature description
The current format of `cmd` is a little confusing. e.g.:
[code]

That is maybe not of much interest, but the following case:
[code]
It's not way of specifying more than one argument in that environment variable, e.g.:
[code]
That will make the program crash. The same problem applies for any substitution.
I don't see a possible workaround for that (witho

[2019-06-13 15:14] ivanpauno commented on #263
@hidmic FYI

[2019-06-26 22:22] rotu opened #267 "Feature request: wait for event"
It would be very nice to have a way to expect an event with a timeout. What I would like to do is have a launch file that runs an action when a LifecycleNode becomes active, but only waits 1 second before it gives up.

Something like this is already implemented in `launch_testing.actions.test.Test`, and it would be nice to have as a separate `Action`.

[2019-06-29 15:21] stonier opened #268 "TTY emulation support for windows"
## Feature request

#### Feature description

TTY emulation in windows (currently only supported elsewhere).

#### Implementation considerations

Breadcrumbs in code:

* Guarding against windows emulation in `launch/actions/execute_process.py`
* Test in `test/launch/actions/test_emulate_tty.py`

Turning the guard off on windows:

* Does not result in a tty
* Other spurious unicode errors

Other:

[2019-07-08 17:46] cevans87 commented on #237
I was surprised to discover that launch_testing was an entirely different testing framework when I tried running demo_nodes_cpp tests. Pytest flags had no effect when I expected they would. For example, I wanted to run a specific test rather than all launch tests for a package
`colcon test --python-testing pytest --packages-select demo_nodes_cpp --pytest-args -k <test_name>`

I also tried generati

[2019-07-08 18:25] ivanpauno commented on #237
I think that the root cause is that a `LaunchService` can't be run from a thread different of the main thread (see https://github.com/ros2/launch/issues/126). I think #210 was an attempt of working-around that limitation. Probably, @hidmic have a better answer.

[2019-07-09 02:35] koonpeng commented on #207
I have the same problem, additionally, it sometimes result in defunct/zombie processes, looks like a race condition somewhere. The snippet code tries to recreate the zombie processes scenario.

[code]

[2019-07-09 12:46] ivanpauno commented on #207
@sumanth-nirmal Ubuntu 16.04 is not a supported platform since Dashing (see http://www.ros.org/reps/rep-2000.html#dashing-diademata-may-2019-may-2021). Probably the problem is specific to that platform.

I couldn't reproduce the problem (Ubuntu 18.04, python 3.6.7, from source).

A simple `cntrl-c` works fine to me (return code 0), double `cntrl-c` shows a long traceback (return code 130):
[code]

[2019-07-10 01:53] koonpeng commented on #207
CPU: Ryzen 2700x
Operating System: ubuntu 18.04, 4.15.0-54-generic
ros-version: Crystal
Installation from: apt
ros2 launch: 0.7.4-0bionic.20190402.213022
python: 3.6.8

I get the KeyboardInterrupt error sometimes too, depending on the timing between the 2 SIGINTs.

I should add that I ran into this problem when running ros2 launch from a script. The script itself sends SIGINT to ros2 launch, but b

[2019-07-10 12:36] ivanpauno commented on #207
I tried the script and I never got a zombie process, or ctrl-c ignored and the process hanging.
It seems that we have something fishy with signal handling, though.

[2019-07-15 15:18] hidmic commented on #237
That's correct. Tests can't be run in the main thread by any of the existing testing frameworks as `launch`'s `asyncio` loop has to, and IIRC at the time `launch_testing` codebase was written, significant changes to `launch` would've been necessary to allow for anything else. As @ivanpauno points out, #210 was a _start_ in that direction.

But I'm sure @pbaughman can provide further (and better) i

[2019-07-15 16:14] pbaughman commented on #237
The main reason was I used 'rostest` from ros1 as a starting point for what eventually became launch_testing.  The problem statement I was working off of  was "We want to write integration tests that use ros2 launch files"  Personally, I also wanted more visibility into process exit codes because one of my frustrations with rostest at a previous company was a lot of times processes under test woul

[2019-07-16 01:52] cevans87 commented on #237
@ivanpauno @hidmmic @pbaughman Thanks for explaining.

I'm somewhat motivated to see these tests work with pytest or unittest so I'm digging into this. I just tried playing around with running a LaunchService from within a non-main thread in pytest to get a better idea what the issues might be. I ran into these problems, and possible solutions. 

1. Instantiating a `LaunchService()` in any child t

[2019-07-16 02:44] pbaughman commented on #237
Off the top of my head, you would also need a way to:
  - run test cases concurrently with the launch that can interact with the launched processes
  - capture the information from a finished launch service and make that information available to other test cases that run after everything is shut down
  - give individual test cases access to the launch actions in the launch description
  - wait for

[2019-07-16 02:57] pbaughman commented on #237
More background: when I imagined how a pytest plugin would look, it would be something like

[code]

I think during test discovery, it could group all the tests that use the same 'generate_launch_description' function, and run them all on the same set of processes, or there could be an argument to the decorator that says 'I want a fresh launch for this test'

[2019-07-17 21:01] dirk-thomas opened #275 "secondary launch adding components into running containers"
For modularity the user might want to split a launch file into separate files which are started independently. One example would be a `base_launch.py` file which gets started once and a `dev_launch.py` file which contains stuff which the developer iterates on which is being started / stopped repeatedly.

For nodes running in separate processes these launch files can be started independently. What

[2019-07-24 20:28] ivanpauno opened #282 "Avoid `launch` dependency on lark"
## Feature request

#### Feature description

https://github.com/ros2/launch/pull/226 added a dependency on lark to launch:
https://github.com/ros2/launch/blob/15af530bd2a1d207849659615fbbdbb5a4daf4a5/launch/package.xml#L10-L13.
It can be easily avoided moving the substitution parser to an independent package.

#### Implementation considerations

`launch_xml`, `launch_yaml` can then import this pa

[2019-07-24 20:29] ivanpauno commented on #282
@wjwwood @hidmic FYI

[2019-07-24 23:59] wjwwood commented on #263
That solution seems reasonable to me.

[2019-07-25 00:01] wjwwood commented on #267
Sounds reasonable to me. You could do it with a `TimerAction` and an `EventHandler` collaborating, but if you have to do it more than once or you want something like that in the XML frontend, a new action to do both things would be best.

[2019-07-25 00:16] wjwwood commented on #204
Since there is https://github.com/ros2/launch/issues/114 (separate the idea of Nodes and Processes) and https://github.com/ros2/launch_ros/issues/7, and also because we have the linked ROS answer, I'm going to close this.

[2019-07-25 00:16] #204 closed

[2019-07-25 14:53] ivanpauno opened #287 "Support for respawn in `ExecuteProcess`"
## Feature request

Add support for `respawn` and `respawn_delay`.

#### Feature description

ROS 1 supported those attributes in `node` tag. We could have something similar in `ExecuteProcess` action. The behavior could be emulated with event handlers, but having an argument in the constructor for that may be easier to use.

There are some point of discussions:
- We could just implement it for th

[2019-07-25 14:54] ivanpauno commented on #287
@wjwwood @hidmic FYI.

I prefer implementing it in `ExecuteProcess`.

I think they should. I don't see an use case were that isn't desired.

[2019-07-25 20:05] ivanpauno opened #289 "Add `Anon` substitution"
## Feature request

#### Feature description
Similar to ROS 1's roslaunch substitution http://wiki.ros.org/roslaunch/XML.

[2019-07-26 16:56] ryanewel opened #290 "Allow conditional substitutions"
##Feature request

#### Feature description
Add a conditional to a substitution so that a substitution only takes place if a value was provided. See https://answers.ros.org/question/314903/ros2-optionally-launch-node-with-no-arguments/ for some discussion.

[2019-07-26 19:46] ivanpauno opened #292 "[launch frontend] Support tag namespaces"
## Feature request

#### Feature description

Actions and substitutions can be exposed from several packages.
Name collisions are possible, and sometimes desired (e.g.: `GroupAction` in `launch_ros` with extra `ns` argument, see https://github.com/ros2/design/pull/207#pullrequestreview-260917648).
Adding namespace is a way of solving the problem.
[code]
[code]

Using tags would be also desired:
[c

[2019-07-26 20:24] hidmic commented on #292
@ivanpauno I'd be inclined to use a single colon `:` instead of two `::` to be consistent with [XML namespaces syntax](https://en.wikipedia.org/wiki/XML_namespace). Also, I'd make the operator markup language dependent e.g. using colons `:` on a YAML launch file will confuse the parser, better use dots `.`.

[2019-07-30 13:56] #163 closed

[2019-07-30 18:17] sloretz opened #634 "Add more convenient Include action"

[2019-07-31 19:57] clalancette opened #293 "Launch creates a directory on every `ros2` cli invocation"
## Bug report

Running *any* `ros2` CLI commands creates a new directory under `~/.ros/log`.  This is basically because `ros2cli` loads every entry point when it starts up, including the `ros2launch` entry point.  `ros2launch` ends up importing `launch`, which imports `logging` (from https://github.com/ros2/launch/blob/master/launch/launch/logging/__init__.py), which creates a directory every time

[2019-08-02 18:56] ivanpauno commented on #114
I thought a little bit about this, and about how it would look in the new frontends (examples only in XML here).

I would have the following classes:
- A `Node` class, that describes a node (name, namespace, remappings, parameters).
  - A `ComposableNode` class.
  - A `LifecycleNode` class.
- An `Executable` class (or `Process` class), that describes an executable (with process information).
  - A

[2019-08-05 14:20] hidmic opened #295 "[launch testing] Support repeated execution of executables under test"
## Feature request

#### Feature description

As it stems from https://github.com/ros2/ros2cli/pull/304, specifically [this discussion](https://github.com/ros2/ros2cli/pull/304#discussion_r307924218), in order to minimize the fragility  of some test cases, repeated execution of a given executable has to be supported by `launch_testing`.

#### Implementation considerations
One way this can be achie

[2019-08-07 16:27] hidmic commented on #237
@cevans87 your snippet indeed works on Linux :) I went through similar attempts a while ago, but clearly I did not get it right. Kudos!

I had to do some modifications to get it to work on Windows though:

[code]

But it does remove the main thread restriction. FYI @wjwwood @dirk-thomas.

[2019-08-07 18:20] wjwwood commented on #237
So would this be an alternative to changing launch as proposed in https://github.com/ros2/launch/pull/210?

[2019-08-07 19:28] hidmic commented on #237
I think they are orthogonal. #210's initial purpose was to provide a way to concurrently run a `LaunchService` instance and (test) co-routines using the same `asyncio` loop. Above's snippet instead allows for thread-based concurrency while keeping tests in the main thread, thus not forcing them to be `async`.

[2019-08-07 23:34] wjwwood opened #298 "Failing test related to emulate_tty on Windows nightly"
It's a regression of https://github.com/ros2/launch/pull/277, I need to figure out the problem and fix it still. Making this issue so I don't loose track of it.

[2019-08-12 12:07] #293 closed

[2019-08-13 00:29] chapulina commented on #290
We'd also like this for `gazebo_ros_pkgs`. We currently have a hacky workaround on [this PR](https://github.com/ros-simulation/gazebo_ros_pkgs/pull/962/) using `PythonExpression`.

[2019-08-13 12:58] ivanpauno commented on #290
I don't like the idea of a conditional substitution returning `None` when the condition is `False`, as described in https://answers.ros.org/question/314903/ros2-optionally-launch-node-with-no-arguments/. IMO, it adds complexity, and that's not the source of the problem.

----

Something similar as described in https://github.com/ros2/launch/issues/263 will solve the issue.
Here the problem is not

[2019-08-13 23:49] chapulina opened #303 "Conditional includes"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu Bionic
- Installation type:
  - debs

#### Steps to reproduce issue

While working on https://github.com/ros-simulation/gazebo_ros_pkgs/pull/962, we wanted to conditionally add the `IncludeLaunchDescription` action using the `condition` keyword. But that action is not accepting the keyword.

Here's a simple example with 2 files:

*m

[2019-08-14 13:19] hidmic commented on #303
Yeap, that's a bug. [Current implementation](https://github.com/ros2/launch/blob/master/launch/launch/actions/include_launch_description.py#L73) is not forwarding (nor taking) additional `kwargs` to its base class constructor.

[2019-08-14 16:56] chapulina commented on #303
I haven't checked, but this may be also true for other actions. It may be a good idea to go over the arguments for all actions.

[2019-08-14 17:05] sloretz commented on #303
@chapulina and I tried making a subclass of `IncludeLaunchDescription` that forwarded args to the `Action` constructor, but more needs to be done. `IncludeLaunchDescription` [overrides `visit(...)`](https://github.com/ros2/launch/blob/884e14e689a2a1cd75120dc6803d320c327f9e1f/launch/launch/actions/include_launch_description.py#L125), which is what [evaluates the condition](https://github.com/ros2/l

[2019-08-14 17:29] hidmic commented on #303
True that, though I don't see why it cannot override `execute(...)` instead. I wonder if this class was written before `Action` had any features. In any case, yes, it needs to be fixed at the source (as opposed to in a subclass).

[2019-08-14 21:17] pbaughman opened #305 "Change how launch_testing waits for the launched system to be ready"
## Feature request
Change the ready_fn in generate_test_description into a launch action

#### Feature description

The original intent of the ready_fn was to avoid an issue frequently encountered with ros1's rostest where each test would have to contain logic to wait for the launched system to be ready to be interacted with.  The purpose of the ready_fn is to force the test author to clearly indi

[2019-08-14 21:19] pbaughman commented on #305
@hidmic Any idea who else would have input on this?  I'll wait a little before starting, but I think this is maybe only a few hours of work for me.  I think it's incremental progress towards a simpler API, but maybe someone else has a grand plan that's different.

[2019-08-15 14:42] #303 closed

[2019-08-15 20:15] jhdcs opened #309 "_prune_and_count iterating over collection twice"
In launch_service.py, the methods `LaunchService._prune_and_count_entity_future_pairs()` and `LaunchService._prune_and_count_context_completion_futures()` perform an unneeded scan through their respective containers just to decide if another scan (using the exact same check) is needed to prune their respective containers (`LaunchService._entity_future_pairs` and `LaunchService.__context.._completi

[2019-08-16 00:15] J-pcy opened #311 "Nodes launch API"
I tried to understand how to launch multiple nodes using python or yaml file, but I did not find anything related to rclpy/rclcpp to create a node and pass parameters in launch repository. May I ask how it works? Thank you.

[2019-08-16 19:52] ivanpauno commented on #311
It's in [launch_ros repo](https://github.com/ros2/launch_ros):
https://github.com/ros2/launch_ros/blob/master/launch_ros/launch_ros/actions/node.py.

Consider doing general questions in [ROS Answers](https://answers.ros.org).

[2019-08-16 19:53] ivanpauno commented on #311
This tutorials can also help:
- https://index.ros.org/doc/ros2/Tutorials/Launch-system/
- https://index.ros.org/doc/ros2/Tutorials/Composition/#composition-using-launch-actions

[2019-08-16 19:53] #311 closed

[2019-08-16 20:06] J-pcy commented on #311
Sorry for that and thanks for your answer.

[2019-08-16 21:00] ivanpauno opened #313 "Propagate launch arguments in included launch descriptions"
## Feature request

#### Feature description
There have been some previous discussion in https://github.com/ros2/launch/issues/252 https://github.com/ros2/launch/issues/249 too.
I've been discussing this a little with @hidmic, here are some of the items we discussed:

- We're currently doing a [best effort checking](https://github.com/ros2/launch/blob/89de94182947ed8fa61fbe7554866e871d8a5121/launc

[2019-08-16 21:00] ivanpauno commented on #313
@wjwwood What do you think about this?

[2019-08-19 20:41] jacobperron commented on #104
I think this is done. I'm not sure if there's support for stripping color escape sequences, but a separate ticket can be opened for that.

[2019-08-19 20:41] #104 closed

[2019-08-19 20:52] jacobperron opened #314 "Improve debug traceback info on error"
## Feature request

#### Feature description

If my launch file has an error (syntax or otherwise) it would be nice if debug mode would provide more insight as to why.

For example, given the following file, `raise.launch.py`:

[code]

I would expect `ros2 launch -d raise.launch.py` to contain some output like:

[code]

Instead, we see the following which is not very helpful:

[code]

[2019-08-20 15:55] #295 closed

[2019-08-21 06:59] xhuan28 opened #316 "Cannot launch node with yaml file including the parameter of integer array"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu18.04
- Installation type:
  - source
- Version or commit hash:
  - 8df506699855bcd5d2942ee794dc5f7620db6a6c
- DDS implementation:
  -  Fast-RTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

I have a yaml file including integer array type of parameters, like

[code]
I write a launch file with the yaml

[2019-08-21 16:22] #314 closed

[2019-08-23 08:50] xhuan28 commented on #316
This issue is fixed in [PR#389](https://github.com/ros2/rclpy/pull/389) in rclpy.

[2019-08-23 08:50] #316 closed

[2019-08-23 16:24] #237 closed

[2019-08-23 23:25] wjwwood commented on #313
Based on this issue, @ivanpauno, @hidmic, and I had an offline discussion. This is a summary of our conclusions:

----

We think that the `ros2 launch` command should:

- Only show arguments from the "root" launch file (e.g. the one that is specified when doing `ros2 launch ...`), when using the `ros2 launch --show-args ...` option.
- Not check that the arguments passed by the user will be used by

[2019-08-28 00:25] jacobperron opened #321 "[regression] Improve error message when failing to launch"
## Bug report

https://github.com/ros2/launch/pull/315 has regressed.

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - source
- Version or commit hash:
  - latest

#### Steps to reproduce issue

[code]

#### Expected behavior

Reports the error with a reasonable description.

#### Actual behavior

Outputs:

[code]

#### Additional information

I'm not sure what ca

[2019-08-30 17:59] wjwwood commented on #305
This seems reasonable to me. I don't know if it will make integrating with pytest easier or not, but it seems like it wouldn't make it harder.

[2019-08-30 21:43] orduno opened #325 "[regression] 'GroupAction' object has no attribute 'actions'"
## Bug report

**Required Info:**

- Operating System: Ubuntu 18.04
- Installation type: source
- Version or commit hash: 4eb26874260bab821863d28e52fbcecd25553f07
- DDS implementation: Fast-RTPS

#### Steps to reproduce issue

Launch the following script:

[code]

#### Expected behavior
Terminal output with message `Doing Action 1`.

#### Actual behavior
Terminal output is:

[code]

Replacing `Log

[2019-08-30 21:44] orduno commented on #325
This was introduced after 0cf52d1ac9ce2a51205e13b8220c255bde38618f

[2019-09-03 17:56] orduno commented on #325
@ivanpauno I think the issue was introduced in #310.

where:

https://github.com/ros2/launch/blob/e0a13cea31f9439e96e9baa6b54d79c5acd9dad5/launch/launch/actions/group_action.py#L74

should be:

[code]

[2019-09-03 20:28] ivanpauno commented on #325
My bad. I was sure that we had a test for `GroupAction`, it seems that we don't.
I will work correct the error and add a test.

[2019-09-03 21:31] ivanpauno commented on #325
There is actually a test, but it isn't complete enough.

[2019-09-04 20:50] #325 closed

[2019-09-11 19:07] jacobperron opened #337 "[launch_frontend] FindPackage substitution not concatenated with surrounding text"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - source
- Version or commit hash:
  - 897cae8f6bf5602e250f9e521497b9eb70e14a85
- DDS implementation:
  - N/A
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

Create a launch file with the following content and launch it.
[code]

#### Expected behavior

I would expect to see outp

[2019-09-13 22:10] jdlangs commented on #188
I'm not totally sure but is this the same issue that's causing us to not see any stdout output at all while the node is running? (https://answers.ros.org/question/332829/no-stdout-logging-output-in-ros2-using-launch/) If so this seems like a serious problem that needs to be escalated.

[2019-09-13 22:55] wjwwood commented on #188
Unfortunately, this setting is not on by default yet, as it causes all kinds of other issues, but you can enable it yourself and probably fix the problem. If using `emulate_tty=True` in the Node/ExecuteProcess actions of your Python launch does not fix the problem, then it's probably something else.

[2019-09-13 22:58] #298 closed

[2019-09-13 23:02] wjwwood commented on #188
This is the pr which is stalled at the moment because I don't have time to pursue it which enables `emulate_tty` by default, which would "convince" subprocesses that they're attached to a terminal and do line buffering without any configuration:

https://github.com/ros2/launch/pull/286

We should address all the issues that cause this, but honestly even if we could enable it by default, I'm worrie

[2019-09-13 23:06] rotu commented on #188
@wjwwood, that's the wrong fix. User-readable debug output should go to stderr. If you're worried about performance, that's what log_level is for

[2019-09-13 23:10] wjwwood commented on #188
Which fix? I don't think I said debug output _shouldn't_ go to stderr. Of course you can do things to fix performance on the application side (print less or adjust the log level), but there's no reason for launch to log stdout/stderr to file with line buffering instead of full buffering...

[2019-09-13 23:13] rotu commented on #188
Sorry, nevermind. I thought you were aiming to fix the similar issue https://github.com/ros2/rcutils/issues/168.

[2019-09-13 23:14] wjwwood commented on #188
No, that probably needs to change as you guys have advocated. Just don't have time to push on it atm.

[2019-09-16 16:41] jdlangs commented on #188
Confirmed that enabling `emulate_tty` myself fixed my issue. I would support changing the default to prefer usability over performance, especially now that it's configurable on the user's end.

[2019-09-19 18:24] ivanpauno commented on #275
Transferring to `launch_ros`

[2019-09-20 16:35] #305 closed

[2019-09-23 20:36] jacobperron commented on #321
Resolved by #333

[2019-09-23 20:36] #321 closed

[2019-09-23 20:59] jacobperron opened #338 "[launch_frontend] Produce errors for invalid entities and attributes"
## Feature request

#### Feature description
When an invalid entity or attribute appears in a launch file, it should produce an error.
This way users are notified of mistakes in their launch files instead of them being silently ignored.
For instance, it is easy to mistype the attribute `output`.

Here's an example launch file that I would expect to fail for a couple of reasons:

[code]

#### Imple

[2019-09-23 21:20] pbaughman opened #340 "Why is python_cmake_module needed by launch_testing_ament_cmake, and can we skip it?"
Preface: I think this is a question for @hidmic but I'm open to input from anybody.

#### Background
I see that launch_testing_ament_cmake [requires python_cmake_module](https://github.com/ros2/launch/blob/master/launch_testing_ament_cmake/launch_testing_ament_cmake-extras.cmake#L17)  I traced this back to when we merged apex_launchtest into launch_testing, but I think this was not part of apex_la

[2019-09-24 00:11] clalancette commented on #340
See https://github.com/ament/ament_cmake/pull/200; we are looking to add it to `ament_cmake_pytest`.

The basic reason it is needed is that when building Windows with `-DMAKE_BUILD_TYPE=Debug`, it's a whole separate stack of things.  That means it uses a separate python executable (`python_d.exe`), and a completely separate installation of pip packages.  Thus, in order for Python tests to be run i

[2019-09-24 14:13] hidmic commented on #340
@clalancette statement is accurate. And FYI, `python_cmake_module` recently got split into its own repository. See https://github.com/ros2/python_cmake_module.

[2019-09-24 17:44] pbaughman commented on #340
Hum, Ok... I'll look into why we're having trouble with this package before the problem gets worse and we can no longer build things that rely on ament_cmake_pytest

I suspect it's:
[code]

[from here](https://github.com/ros2/python_cmake_module/blob/master/cmake/Modules/FindPythonExtra.cmake#L45)

My understanding is we have a python interpreter at test time, but not at build time for some reason

[2019-09-24 19:52] pbaughman commented on #340
Ok - I think this is an internal-only issue where we're over-zealously dropping an AMENT_IGNORE on python_cmake_module because in our version it's still inside rosidl_python.  Thanks for your help understanding this package and the history of why it's here.

[2019-09-24 19:53] #340 closed

[2019-09-25 06:13] ccy89 opened #342 "launch node can't dispaly RCLCPP_INFO infomation immediately"
- Operating System:
  - Ubuntu 18.04
- Installation type:
  - binaries
- Version or commit hash:
  - dashing
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue
use ros2/examples to test ros2 launch. Create a launch file with the following content and launch it.
[code]

#### Expected behavior
The terminal will display node's INFO message

[2019-09-25 12:36] ivanpauno commented on #342
Check https://github.com/ros2/launch/issues/188 and https://github.com/ros2/rcutils/issues/168.
Closing as duplicate.

[2019-09-25 12:36] #342 closed

[2019-10-10 20:04] mkhansen-intel commented on #287
+1 for getting this feature, is it planned for anytime soon?

[2019-10-10 20:12] wjwwood commented on #287
I think the best assumption is no. Maybe @hidmic or @ivanpauno were planning on doing it, but I'm full booked up until well after ROSCon.

[2019-10-10 20:30] wjwwood commented on #287
Assuming it knows the node's name, it could look for the node to enter the unconfigured state (or whatever the first lifecycle event published is) on the event topic for that node. Launch does the same thing in order to produce launch events for each state transition.

[2019-10-10 21:15] ivanpauno commented on #287
I'm not planning to work on this in a near future.
If someone wants to work on it, I can help doing reviews.

[2019-10-10 21:17] mkhansen-intel commented on #287
That makes sense. We'll discuss that as a potential way of doing this. It won't matter until the 'respawn' capability is available though.

[2019-10-11 15:58] hidmic opened #345 "Handle POSIX paths"
## Feature request

#### Feature description

A recent bugfix (https://github.com/ros2/launch_ros/pull/83) raised awareness about how we handle paths in `launch`. If launch actions and substitutions do not support POSIX paths but only native ones, platform-specific variations (e.g. slashes vs backslashes) creep all the way up to the launch file. At its worst, it makes XML -- and any other markup-b

[2019-10-11 15:59] hidmic commented on #345
cc @ivanpauno @wjwwood

[2019-10-11 18:55] wjwwood commented on #345
It's not clear to me exactly what needs to change, but we should just behave like CMake and Python, I think, and support POSIX everywhere and if the user happens to use the Windows style that may just not work on Linux. I believe it is the same in Python (on my mac):

[code]

[2019-10-11 20:04] hidmic commented on #345
Many actions make use of the `os` and `os.path` modules, and IIRC Python does not offer "universal paths" like it does for "universal newlines".

[2019-10-23 15:53] pbaughman opened #347 "ExecuteProcess not returning on_exit actions in describe_conditional_sub_entities"
## Feature request
[Launch actions](https://github.com/ros2/launch/blob/f73bc56caa9c7b3c53b264475728392d0e1ce9cf/launch/launch/action.py#L91-L102) are supposed to return their sub-entities and conditional sub-entities to so they can be introspected before running.

The [ExecuteProcess action](https://github.com/ros2/launch/blob/master/launch/launch/actions/execute_process.py) does not provide an i

[2019-11-12 21:49] hidmic commented on #347
Looks like I inadvertently fixed this in https://github.com/ros2/launch/pull/353. Closing.

[2019-11-12 21:49] #347 closed

[2019-11-12 22:02] pbaughman commented on #347
@hidmic I had an in person conversation with @wjwwood where he suggested the sub-entities needed to include [the event handlers and events](https://github.com/ros2/launch/blob/2b278b0586f83c61ac0d7704e018a707bacf437d/launch/launch/actions/execute_process.py#L683-L709) that are plumbed into the launch context when  you call 'execute'

It's possible that you've un-jammed [my PR here](https://github.

[2019-11-12 22:14] hidmic commented on #347
I see, I wasn't aware. I do not have a strong opinion, though those event handlers seem an implementation detail to me but we haven't really drawn a line between what's introspectable and what not (or if such a line should even exist).

[2019-11-12 23:12] pbaughman commented on #347
Yeah, I don't feel strongly either.  I think William's idea was that the 'Register Event Handler' entities were unconditional sub-entities of an execute-process, and then the on-process-exit actions would be conditional sub-entities of THOSE entities.

I think you've fixed the problem I had in my head when I opened this issue.  One of the reasons it sat open was that the solution I was considering

[2019-11-12 23:42] wjwwood commented on #347
That's right.

[2019-11-14 16:11] pbaughman opened #357 "launch_testing test file import can cause confusing module import issues"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - source
- Version or commit hash:
  - Dashing
- DDS implementation:
  - Doesn't matter, this is a pure-python thing
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

We have a package called `lidar_integration.`  This package installs a python module also called lidar_integration

[2019-11-14 16:28] hidmic commented on #357
I can't recall why didn't we simply do `args.package_name + '.' + launch_test_file_basename`. We should check aggregated results on Jenkins.

[2019-11-26 21:15] pbaughman opened #359 "Launch Service not stopping (possibly launch_ros related)"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04 -->
- Installation type:
  - Source
- Version or commit hash:
  - Launch: c644dfa8e1f1433e200b76eb52ba22f392838f48
  - Launch Ros: 84cdecd361a3ea274f77f0c1ec2f2c02097fe372
- DDS implementation:
  - Fast-RTPS

#### Steps to reproduce issue

I can get this to happen by running `ros2 test lifecycle/test/test_lifecycle.py` in a lo

[2019-12-04 01:16] jacobperron commented on #345
Reading the [docs](https://docs.python.org/3.6/library/os.path.html), it sounds like if we use `os.path` it selects the module based on the platform:

So, to resolve this ticket should we just ensure that we're using `os.path` everywhere?

[2019-12-04 13:14] ivanpauno commented on #345
I prefer using `pathlib.Path`.

I don't have a windows machine to try now, but I think that sometimes using `os.path.join` may cause problems when the input is a posix path (and not the os specific path).

Example:
[code]

I'm not sure if the above code produce the desired result or not (IIRC, it produces something with mixed style path separator that later doesn't work when calling `open`, etc).

[2019-12-04 14:07] hidmic commented on #345
The spirit of this ticket was to enable a user to use POSIX paths throughout launch files and make that portable across platforms. To my surprise, in many cases you can throw pretty much any path at Windows and it'll work just fine, mixed slashes and backslashes included (just tried it). [Even at the C level](https://docs.microsoft.com/en-us/cpp/c-runtime-library/reference/fopen-wfopen?view=vs-201

[2019-12-04 21:34] pbaughman commented on #359
It looks like this is launch_ros, not launch - closing this in favor of the launch_ros issue

[2019-12-04 21:34] #359 closed

[2019-12-05 15:48] roger-strain commented on #114
I've been working with the guys who are putting together ideas for Multi-machine launching (ros2/design#255), and wanted to follow up on some of the feedback there. I saw the mention of this issue, and I'd like to see if we can help on getting some of this work done, and figure out how to use this concept for our remote execution needs. Also want to make sure we don't start running with ideas that

[2019-12-05 16:39] nuclearsandwich commented on #313
Just to leave a breadcrumb, @ivanpauno removed this from the patch release queue since it's a feature request without anyone allocated to fulfill it. If work is done toward this feature we can still consider it for backport.

[2019-12-05 16:59] nuclearsandwich commented on #207
@sumanth-nirmal do you have any information to help us investigate this further?

In the meantime I am going to remove this from the Dashing project boards until a reliable reproduction can be found.

[2019-12-05 18:31] ivanpauno commented on #114
Yes. It should be done in a backwards compatible way. i.e.: The `ExecuteProcess` class, etc, should still exist, making use of the new objects to avoid duplicated code, and print a deprecated warning when an user uses it.

I think that everything previously commented here still stands.
I think that a good start would be to propose an API, and share it for review.
In general, my idea is to separate

[2019-12-05 19:18] hidmic commented on #357
@pbaughman are you planning to send a patch to address this issue? It seems straightforward.

[2019-12-05 20:34] pbaughman commented on #357
@hidmic Yeah, let me see if I can find a moment to do it.  I need to be a little careful to do this in a way that doesn't change the resulting XML files because we have a whole test-history infrastructure built up where the test name is the unique key.

People are going to be very upset at me if a quarter of our tests suddenly have different names and how it's hard to see the history

[2019-12-05 23:06] pbaughman commented on #357
@hidmic I need to think about this some more, or I'm going to cause all our tests to get renamed.

The module name we choose [here](https://github.com/ros2/launch/blob/2f32b9fa94a5cd441271a9b23850db18b9c7d28e/launch_testing/launch_testing/launch_test.py#L80) gets included as part of the classname in one of the junit XML elements [here](https://github.com/ros2/launch/blob/2f32b9fa94a5cd441271a9b238

[2019-12-05 23:11] pbaughman commented on #357
I wonder if there's a way to do `_load_python_file_as_module` but then not have that module cached when you do a later import. . .

[2019-12-06 00:08] pbaughman commented on #357
@hidmic I can preserve the existing test names and fix the issue by doing:

[code]

This tries to import any 'real' modules that have the same name as test_module_name, so any subsequent 'import' statements get the real one instead of the test-file-as-a-module one.

On a scale of good to awful, where do you think this lands?  I wonder if we should worry about side-effects from importing

[2019-12-09 13:19] hidmic commented on #357
It's not pretty, but I don't see a lot of other options. You could tinker with `sys.modules`, but that's not pretty either.

Yeah, there's that. Ideally, loading a test module shouldn't have any side effects.

[2019-12-09 15:22] pbaughman commented on #357
@hidmic I tried to mess about with sys.modules, but there was no good place to do it.  When this errors out, loader.load_module() from launch_test.py is in the stack.  We'd have to do major surgery on the SourceFileLoader to fix it that way, I think. . .

Anyway, I'll open a PR with the 'load the real one early' fix

[2019-12-12 17:42] pbaughman opened #364 "I/O operation on closed file in __on_process_stderr"
## Bug report

**Required Info:**

- Operating System:
  - 18.04
- Installation type:
  - source
- Version or commit hash:
  - c644dfa8e1f1433e200b76eb52ba22f392838f48
- DDS implementation:
  - RTI Connect Micro, but I don't think this part matters
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

I can get this to happen with the rcl test "test_rmw_impl_id_check" if also r

[2019-12-12 17:50] pbaughman commented on #364
Follow-up:  I can get the exact same failure pretty easily in the nightly ROS2 docker image:

[code]

This particular test starts a process that runs, possibly generates some stderr output, and then exits very very quickly.  That's probably why it's exercising this race but other things aren't.

[2019-12-13 18:23] pbaughman commented on #364
Ah, I see - the race is with closing the buffer implicitly [here](https://github.com/ros2/launch/blob/master/launch/launch/actions/execute_process.py#L471-L476)

@ivanpauno It looks like this code was introduced in PR #255.  Do you have an opinion about how to resolve this race?  I see [here](https://github.com/ros2/launch/pull/255#discussion_r290484218) that there was some question as to whether

[2019-12-13 19:13] ivanpauno commented on #364
Not closing the buffers sound reasonable to me.
The only problem, is that that late output might never be printed, but crashing is worst.

I think we've already hit this before ... though I don't remember where the previous discussion is.

[2019-12-13 19:18] pbaughman commented on #364
Maybe there is a way to sequence things so that process get shut down, __on_process_stderr/stdout callbacks fire, then __flush_buffers is called?

[2019-12-13 19:31] ivanpauno commented on #364
I don't see an easy way of ensuring that the buffers are flushed after all other events are processed, due to the asynchronous nature of how events are processed.
If you have a way of doing that, sounds like the best solution to me.

If not, how io events are handled after shutdown could be changed, avoiding buffering and printing directly (which can end up with split messages on Windows, but it's

[2019-12-13 19:39] ivanpauno commented on #364
Well, I finally see a way of doing what you proposed. A method for registering `on exit` callbacks in the context could be added.
Those callbacks will be called when the launch service event loop finished running, ensuring that they are called after all the events.

The counterpart is complexity, the difference between `on shutdown` event handlers and those callbacks is subtle.

[2019-12-13 19:46] pbaughman commented on #364
@ivanpauno I will take a crack at

I think that's a good compromise between not losing log messages and complexity.  That should fix the crash and I don't the severity of the remaining problem justifies doing major surgery  on the launch context.

[2019-12-16 19:51] #364 closed

[2019-12-19 19:53] sumanth-nirmal commented on #207
@nuclearsandwich I tried with Dashing on Ubuntu 18.04 and can't reproduce this problem. I think we can close the issue.

[2019-12-19 19:56] nuclearsandwich commented on #207
Great. Thanks for checking.

[2019-12-19 19:56] #207 closed

[2019-12-23 14:23] #357 closed

[2020-01-03 14:08] ivanpauno opened #366 "Add a Command substitution"
## Feature request

#### Feature description

In ROS1, it was possible to load a parameter value with the output of a command:

[code]

In order to support similar functionality in ROS2 launch, a `Command` substitution can be added.
Adding a substitution instead of adding an specific way of loading a parameter value with a command output will allow other use cases.

Example usage:

[code]

#### Im

[2020-01-03 14:08] ivanpauno commented on #366
@wjwwood @hidmic can you review the proposal?

[2020-01-03 21:02] hidmic commented on #366
LGTM, though we should do something about ergonomics when this gets mapped to XML/YAML - - it's crazy verbose :sweat_smile:.

[2020-01-03 21:12] wjwwood commented on #366
lgtm too.

[2020-01-09 17:09] hidmic commented on #263
There's a bit of an issue with this change. We're essentially forcing shell-like parsing on otherwise plain command line arguments. And thus, something like `cmd=['ls', 'my/subdir/with spaces/']` would stop working the way it currently does. Same goes for prefixes, where we already are `shlex.split`'ing them. We probably need a flag for the user to explicitly opt-in (or opt-out) this parsing behav

[2020-01-09 17:40] ivanpauno commented on #263
I see. So, though it's true that it's not 100% backwards compatible, I think that the change is still reasonable and won't affect much users (and the ones affected should be able to fix the problem easily).

[2020-01-09 17:55] hidmic commented on #263
We should probably also support a single string then e.g. `cmd='ls "my/subdir/with spaces/"'`. WDYT?

[2020-01-09 20:54] ivanpauno commented on #366
About this: I think that most of the verbosity comes from the need of the `PathJoinSubstitution` stuff.
Forgetting about that, it would look in xml like:

[code]

(note that the command is between quotes, because I think it's the most natural way to match what we do in Python)

That's not super verbose.
We could also have directly an `output` attribute for params like in ROS 1, to make it less ver

[2020-01-15 19:27] #366 closed

[2020-01-29 07:28] ruffsl opened #371 "Tab autocomplete to only list launch files in package when package is specified"
## Bug report

When using the ros2 launch CLI, tab autocomplete for pwd files persists even after a valid package name is specified in the first argument. This makes it annoying to use the CLI in busy directories, particularly when you'd just like to check for the available launch files in the package specified.

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - bin

[2020-01-29 17:54] jacobperron opened #372 "Error passing None target action to OnProcess* event handlers"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - Binaries or from source
- Version or commit hash:
  - Eloquent or 0822c9711e7d6543a8ba3361e3b5a8db41268c44
- DDS implementation:
  - N/A
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

Launch the following launch file with `ros2 launch`:
[code]

#### Expected behavior

The tal

[2020-01-30 18:37] ivanpauno commented on #345
Check [here](https://github.com/ros2/launch/issues/366#issuecomment-572750757) for a place where a `path` substitution is needed.

[2020-02-03 23:45] jacobperron commented on #372
Turns out this isn't necessarily a bug, but a pitfall from the design of launch. In my first example, the act of starting the `listener_node` itself is a ProcessStart event, which causes the same instance `listener_node` to be visited again by the launch service. I.e. launch doesn't support visiting the same action more than once.

If we started a copy of the listener node instead, we would end up

[2020-02-04 00:30] ruffsl opened #376 "Enable var substitution inside node XML args attribute string"
Var substitution is not preformed for var references in the args attribute string for node XML elements when using launch-xml. This was possible in ROS1, but is not yet supported in ROS2, thus blocking the port of ROS1 launch files where nodes expect a numerous run time arguments set from the XML launch file configuration. E.g. when ros nodes wrap around libraries that are initialized via arbitrar

[2020-02-04 01:02] ruffsl commented on #376
On closer inspection, it looks like launch-xml is substituting the vars; only that it seems that args are prefixed and postfixed by unspecified spaces, e.g:

[code]

[2020-02-05 01:48] jacobperron commented on #376
I think this is a duplicate of https://github.com/ros2/launch/issues/337

[2020-02-05 03:18] ruffsl commented on #337
Has this moved since sep? Is there branch with some WIP related to this issue? This is still effecting launch users, limiting the use of substitutions.

[2020-02-05 20:18] jacobperron opened #377 "Command substitution: special characters inside XML comments causes launch to fail"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - from source
- Version or commit hash:
  - 4333910ba41977f3ab9867082c86a8698ada3a16

Specifically, I've noticed that colons (`:`) and tab characters are not working.

#### Steps to reproduce issue

I ran into this issue trying to pass a URDF from xacro to robot_state_publisher, like the [example here](h

[2020-02-05 21:00] ivanpauno commented on #377
That seems extremly weird.
Can you run launch in debug mode (`-d`) and share the traceback?

[2020-02-05 21:04] hidmic commented on #377
Wild guess: we're YAML parsing command output. Try adding quotes before and after the command substitution.

[2020-02-05 21:11] ivanpauno commented on #377
Ouch! Yes, that's true, parameters values that are strings are parsed like yaml.
There's an issue about that https://github.com/ros2/launch_ros/issues/74 (I think I opened an issue proposing typed substitutions, but I haven't found it).
At the moment, I agree with Mich that the best solution is adding extra quotes.

[2020-02-05 21:55] jacobperron commented on #377
Do you mean like this?

[code]

I get the same error.

[2020-02-05 22:07] jacobperron commented on #377
Here's an example output with --debug:

[code]

[2020-02-06 12:59] ivanpauno commented on #377
TL;DR no, you need duplicated single quotes :man_facepalming:

[code]

why? well, each value read from an xml file is coerced with some rules to float/int/bool/str.
One of the rules, it's that outer single quotes are implicit in an string. If you find explicit quotes, they are dropped (similar of what yaml does).
After that, the `Node` action itself is parsing the string like yaml ....

We should

[2020-02-06 13:03] ivanpauno commented on #376
Closing as duplicate of #337.

Just to clarify: The problem particularly happens when using `args` attribute of `node`, and not everywhere.

[2020-02-06 13:03] #376 closed

[2020-02-06 13:03] ivanpauno commented on #337
@ruffsl Yes, I agree. I will try to iterate on this ASAP.

[2020-02-10 17:25] jacobperron commented on #372
Closing since this isn't a bug and a better guard with error message was introduced in #375 .

[2020-02-10 17:25] #372 closed

[2020-02-10 21:56] roger-strain commented on #114
@ivanpauno Finally had some time to dig into this and learn quite a bit more about how things are structured. I'm not sure if this is in quite the format you were wanting, but we've put together some thoughts about how to approach this. I've created a document in a fork of the design repo, but I'm not sure the document itself needs to be pulled there. Just needed a place to park some thoughts.

Ta

[2020-02-12 02:13] ddengster commented on #377
[code]

So I'm facing something similar to this issue. Has $(command '..') been deployed for #375 ?  It seems anything I'm trying with $(command '..') doesn't work. I've built ros2/launch within my colcon workspace and confirmed that ros2 launch commands runs with what I've built.

[2020-02-13 17:46] ivanpauno commented on #377
Currently, the following should work:
[code]

I will work on a fix so that's no more needed.

[2020-02-13 19:14] ivanpauno commented on #114
@roger-strain Thanks for working on this!

I had a quick look, here some comments:
- Probably, `launch_ros.descriptions.ComposableNode` can't inherit from `launch_ros.descriptions.Node`, as it doesn't have for example a `node_executable` argument. Maybe both can inherit from a common base class, that doesn't specify either plugin name nor executable name. Maybe, we don't need a base class at all.

[2020-02-13 19:31] roger-strain commented on #114
@ivanpauno Is the document naming/formatting okay for a PR as is? I can go set that up now if it looks like it's in good enough format for that discussion.

[2020-02-14 17:01] Jconn commented on #287
has anything changed here? This is a nice to have for us

[2020-02-14 17:48] clalancette opened #380 "[launch_testing]: Tests without a unittest to run concurrently with the processes under test throw an exception"
## Bug report

I've been debugging https://github.com/ros2/rcutils/issues/204 .  The test that causes the problem is at https://github.com/ros2/rcutils/blob/e31371df45afdfac545752777cd61a3a64769ee2/test/test_logging_output_format.py .  In that test, you can see that there is a `post_shutdown_test`, but no test to run concurrently with the processes[1].  When running this test, a stack trace is pri

[2020-02-15 00:32] pbaughman opened #381 "launch_description.process_entities fails when it comes across an event_handler"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - source
- Version or commit hash:
  - master
- DDS implementation:
  - n/a
- Client library (if applicable):
  - n/a

#### Steps to reproduce issue
Start with a trivial launch file called `bad.launch.py` containing the following:

[code]

Attempting to launch the launch file gives a stack trace
[code]

[2020-02-15 00:46] pbaughman commented on #380
@clalancette Not helpful to your actual problem at hand, but re:

These are called "Active" tests in this roscon presentation https://roscon.ros.org/2019/talks/roscon2019_launch_testing_presentation.pdf  I don't have a good idea for making this information more official or discoverable though.

[2020-02-17 08:47] ddengster opened #382 "ExecuteProcess cmd parameter treatment 'The passed value needs to be a dictionary in YAML format'"
## Bug report

- Operating System:
Ubuntu 18.04
- Installation type:
Eloquent
- Version or commit hash:
#379 , but should occur in the master branch #375

#### Steps to reproduce issue
ros2 launch mypkgname mylaunchfile.launch.py

[code]

#### Expected behavior
The same as running the following on the cmdline

Output:
[code]
#### Actual behavior
Output gives:
[code]

#### Additional information

I

[2020-02-17 13:34] ivanpauno commented on #382
`ros2 topic pub` expects the value to be a dictionary in yaml format:

[code]

That should work.

Closing, as it's unrelated to launch.

[2020-02-17 13:34] #382 closed

[2020-02-17 17:24] #337 closed

[2020-02-18 11:27] norro opened #383 "Support setting log-level via command-line"
## Feature request

#### Feature description
Allow setting log-level via command line, similar as documented for `ros2 run`, `ros2 service`, etc. see [ros2/Tutorials/Logging-and-logger-configuration](https://index.ros.org/doc/ros2/Tutorials/Logging-and-logger-configuration/)

### Steps to reproduce issue
[code]

#### Expected behavior
log level is set to debug

#### Actual behavior
`ros2: error: u

[2020-02-18 17:29] pbaughman commented on #381
It seems like there's a bit of a string to pull here. . .  I can give 'describe_sub_entities' and 'describe_conditional_sub_entities' methods to the EventHandlers, but then I start getting

[code]

@wjwwood Am I missing something obvious here?

[2020-02-18 17:37] pbaughman commented on #381
*Sigh* I am missing something obvious.  You can't jam event handlers directly into a launch description - they need to have a RegisterEventHandler action.  Duh - this is what happens when you stop working on something for 2 months.  You forget how it's supposed to work.

[2020-02-18 17:37] #381 closed

[2020-02-18 19:03] pbaughman opened #385 "RegisterEventHandler does not describe sub-entities"
## Feature request
RegisterEventHandler should provide a describe_conditional_sub_entities method so it can be introspected.

#### Feature description

It is supposed to be possible to introspect a launch description programmatically to determine what actions are possible.  Currently, actions that are started up by event_handlers cannot be introspected.

[RegisterEventHandler](https://github.com/r

[2020-02-19 18:59] dirk-thomas opened #387 "DeprecationWarning: The loop argument is deprecated since Python 3.8"
And scheduled for removal in Python 3.10.

E.g. https://github.com/ros2/launch/blob/f243fc6b3bcd276c194151e6933cda90761b1944/launch/launch/actions/timer_action.py#L84

[2020-02-20 16:39] pbaughman commented on #385
Resolved by https://github.com/ros2/launch/pull/386

[2020-02-20 16:39] #385 closed

[2020-02-27 19:06] claireyywang commented on #383
@norro Would you be interested in supplying a pull request with this feature?

[2020-02-27 21:33] claireyywang commented on #383
@norro Could you provide more information about why this feature is needed and what it would do?

[2020-03-04 15:10] #289 closed

[2020-03-09 21:41] mogumbo commented on #377
I just got back to looking at this. It almost works for me. I'm doing:
`
<node name="robot_state_publisher" pkg="robot_state_publisher" exec="robot_state_publisher">
    <param name="robot_description" value="''$(command '$(find-pkg-prefix xacro)/bin/xacro
                                           $(find-pkg-share krex2_description)/urdf/rp1a_robot.xacro')''"/>
  </node>
`
Which gives me this out

[2020-03-10 20:40] ivanpauno commented on #377
:man_facepalming: That's a fun one.

I will describe first the problem. The value of `Node` action [parameters](https://github.com/ros2/launch_ros/blob/be0f9a1755df7526cff590a7027054501b5128c3/launch_ros/launch_ros/actions/node.py#L71) argument are read like `yaml`. That was proposed originally in https://github.com/ros2/launch_ros/pull/31, because substitutions are only resolved to a `str`.
https

[2020-03-10 20:41] ivanpauno commented on #377
I've actually started to work in a fix , though I haven't had time to finish it.

[2020-03-10 22:41] dirk-thomas commented on #387
Instead of creating separate tickets for each deprecation warning I will add more here:

* `launch_testing/test/launch_testing/test_launch_test_runner_validation.py:15`:

[2020-03-20 09:43] adrienbarral opened #392 "Provide roslaunch xml schema definition downloadable"
It would be nice to have the roslaunch xml definition (https://design.ros2.org/articles/roslaunch_xml.html#let-tag) downloadable somewhere.

I guess that the good place should be here : http://download.ros.org/schema/ (close to the package format definition).

[2020-03-24 20:44] rotu opened #394 "Passing a string to Node arguments behaves unintuitively"
In Node constructor, arguments takes an arguments of list of strings. Passing a string to arguments typechecks but provides unexpected results, treating the string as a sequence of single-character arguments.

e.g the following code:
[code]

This displays no error message but the mistake is visible when the process dies.
[code]

Passing a string to `arguments` (or similar places) should either:

1

[2020-03-24 20:51] ivanpauno commented on #394
`cmd` is expected to be a list of `Substitutions`, https://github.com/ros2/launch/blob/ae12701630c7acd3d78806bc764bf96b54d6ebe8/launch/launch/actions/execute_process.py#L90

where a substitution can be the following:
https://github.com/ros2/launch/blob/ae12701630c7acd3d78806bc764bf96b54d6ebe8/launch/launch/some_substitutions_type.py#L24-L28

Strings are iterable in `Python`, so this will think tha

[2020-03-24 20:51] ivanpauno commented on #394
This is related too: https://github.com/ros2/launch/issues/263.

[2020-03-24 20:55] ivanpauno commented on #377
Moving to `launch_ros`, as the origin of the problem is that `parameters` `Node` argument is implicitly loading passed values like `yaml`.

[2020-03-24 21:17] rotu commented on #394
I think you're right that it should raise an error. It seems wrong to have `ExecuteProcess(cmd='echo', arguments='hello          world')` print 'hello world' or to have `ExecuteProcess(cmd='ls', arguments='-l -A')` crash, so an error seems sensible.

[2020-04-08 15:48] comkieffer opened #396 "Roslaunch XML Schema Fails Validation"
# Bug report

- Operating System: N/A
- Installation type: N/A
- Version or commit hash: N/A
- DDS implementation: N/A
- Client library (if applicable): N/A

#### Steps to reproduce issue

Manually download [xml schema](https://design.ros2.org/articles/roslaunch_xml.html) and save it to `roslaunch_schema.xsd`. Validate a launch file with `xmllint`

[code]

Alternatively, use [online validator](htt

[2020-04-10 14:55] nuclearsandwich opened #397 "New flake8 F821 error in launch."
## Bug report

**Required Info:**

- Operating System:
  - cross-platform
- Installation type:
  - source
- Version or commit hash:
  - https://github.com/ros2/launch/commit/0ce19ac6b9e02e93d58ba4ddfd31e3a2d3fac36f (HEAD)
- DDS implementation:
  - N/A
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

Example build [linux nightly release](https://ci.ros2.org/view/nightly/job

[2020-04-10 14:56] nuclearsandwich commented on #397
@hidmic and @jacobperron are contributors on this file who might have info on why the forwardref is preferred.

[2020-04-10 14:58] mjcarroll commented on #397
My best guess is that it's related to this which landed in 2.2.0: https://github.com/PyCQA/pyflakes/pull/479  It fixes a similar issue, but may have broken this case here?

I'm not convinced that this isn't a completely valid type specification, but it may the that `pyflakes` lacks suitable interpreter context to get it right.

[2020-04-10 14:59] wjwwood commented on #397
I can fix it I think. Making a pr now.

[2020-04-10 15:23] #397 closed

[2020-04-10 19:47] allenh1 opened #399 "[Eloquent] XML var substitutions appending an extra whitespace token"
## Bug report

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - binaries
- Version or commit hash:
  - latest
- DDS implementation:
  - n/a
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

Execute this launch file, for example.

[code]

#### Expected behavior

The `static_transform_publisher` node should launch.

#### Actual behavior

The node fails to execute

[2020-04-11 06:40] rotu opened #400 "[Launch Testing] failure messages are generic, unuseful"
In ros2cli, there are tests that command line tools produce expected output. e.g. https://github.com/ros2/ros2cli/blob/96cf5b949d1aa870111bba0664eca1c359d3307c/ros2lifecycle/test/test_cli.py#L363-L374

notably this command which uses `expect_output`:
[code]

When these tests fail, they are reported in CI with an extremely generic error message, stating only the test case and its parameter:

https:

[2020-04-11 06:42] rotu commented on #400
@dirk-thomas I notice more verbose error output is present in the full text log:
[code]

Is this a problem with `launch_testing`, with  `colcon`, or with CI's failure message parsing?

[2020-04-11 06:54] dirk-thomas commented on #400
`colcon` only shows `stderr` output by default. `stdout` output can be enabled which is the case in Jenkins.

Jenkins shows the data available in the `.xml` test result files.

What / how `launch_testing` reports any kind of feedback can be better answered by the people which designed / implemented that tool.

[2020-04-16 13:31] hidmic commented on #396
@comkieffer thank you for reporting. See https://github.com/ros2/design/pull/278.

Unfortunately, `xmllint` will not be able to validate `launch`'s schema, as AFAIK the former can only handle XSD 1.0 and the latter is XSD 1.1

[2020-04-16 14:40] hidmic commented on #400
That's a consequence of the [`pytest` shim](https://github.com/ros2/launch/blob/a3db681a63a5908d38ca5fcac4bdd96f5e4fed7e/launch_testing/launch_testing/pytest/hooks.py#L58-L75) not propagating all available information properly. I agree with @rotu we have to iterate on this.

[2020-04-16 16:53] allenh1 commented on #399
That would be great news! I will test this on my source installation next time I'm on it.

That would be even better! Since this is used in a lot of launch files I use, I would highly recommend it be backported.

[2020-04-16 16:59] ivanpauno commented on #399
Backport merged, closing!

[2020-04-16 16:59] #399 closed

[2020-04-17 14:07] allenh1 commented on #399
Good to know -- thanks for that!

[2020-04-20 17:13] hidmic opened #405 "[launch_testing] Revisit launch_testing | pytest integration"
## Feature request

#### Feature description
The current [shim](https://github.com/ros2/launch/tree/9e0d841fe7969e765b0ad873fdb37837ca49d46d/launch_testing/launch_testing/pytest) that enables launch tests to be run under `pytest` is feature-limited and brittle (e.g. https://github.com/ros2/launch/pull/404). There's not true integration, but delegation from one testing framework to the other. Consi

[2020-04-27 14:18] comkieffer commented on #396
Thanks  for pointing me towards the bug report. Nice to see that somebody's on it.

[2020-04-27 14:18] #396 closed

[2020-04-27 18:17] zmk5 commented on #387
I submitted a fix for the second deprecation warning. I'm still trying to figure out what the deprecation in the first one is.

[2020-04-27 18:43] zmk5 commented on #387
Just checked. It actually didn't work for me. I'll try and fix the issue.

[2020-04-30 07:01] ddengster opened #411 "ros2 node list lists 2 nodes of the same name and type after launching"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 1804
- Installation type:
  - Source
- Version or commit hash:
  - Head

#### Steps to reproduce issue
Follow something similar to https://answers.ros.org/question/344141/ros2-launch-creates-two-nodes-of-same-type/

#### Expected behavior
Only 1 node should be launched when doing `ros2 node list`.

#### Actual behavior
2 nodes liste

[2020-04-30 15:17] zmk5 commented on #387
Hey @dirk-thomas I have resolved all deprecation warnings associated with this issue. The team has also reviewed and merged the changes. You can close this issue if you would like 😄

[2020-04-30 16:24] ivanpauno commented on #387
Thanks for your contribution @zmk5 !!!

[2020-04-30 16:24] #387 closed

[2020-05-05 18:14] jdlangs opened #412 "No error information provided when using frontend launch files"
## Bug report

This is not actually a bug but rather important missing functionality.

**Required Info:**

- Operating System: Ubuntu 18.04
- Installation type: Eloquent from binaries, `launch` from source
- Version or commit hash: `cac43b195fb767128df1fdf494687973d538c792` (launch)

#### Steps to reproduce issue

Invalid launch xml file, e.g.:
[code]

#### Expected behavior

Some information prov

[2020-05-06 19:29] Thodoris1999 opened #413 "Unexpected space at find-pkg-share substitution"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - Binaries
- Version or commit hash:
  - eloquent
- DDS implementation:
  - doesn't matter probably
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

1. create a launch file in package "robot-description" (requires gazebo_ros_pkgs) in the form:
<launch>
<node pkg="gazebo_ros" exec

[2020-05-07 00:40] rotu opened #416 "Launch leaks loggers liberally"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu Focal / CPython 3.8.2
- Installation type:
  - source
- Version or commit hash:
  - master
- DDS implementation:
  - N/A
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

[code]

#### Expected behavior
No leaks are reported.

#### Actual behavior
Many filehandle leaks are reported.

[code]

#### Additional in

[2020-05-07 07:19] cottsay opened #417 "ExecuteProcess env not used in EnvironmentVariable substitutions"
## Bug report

**Required Info:**

- Operating System:
  - Fedora 32
- Installation type:
  - from source
- Version or commit hash:
  - cac43b1
- DDS implementation:
  - CycloneDDS
- Client library (if applicable):
  - rclpy

#### Steps to reproduce issue
[code]

#### Expected behavior
On stdout:
[code]

#### Actual behavior
On stdout:
[code]

#### Additional information

I think that at the very

[2020-05-07 14:01] hidmic commented on #411
I've replied to those answer.ros.org questions. This seems connected to https://github.com/ros2/geometry2/issues/124 and it's not an issue with `geometry2` or `launch`, but with `robot_localization` and/or user code.

[2020-05-07 14:01] #411 closed

[2020-05-07 15:13] hidmic commented on #417
+1 to documentation.

[2020-05-07 15:21] hidmic commented on #413
I believe this is a duplicate of https://github.com/ros2/launch/issues/399, which has been addressed and backported. It'll be included in the next Eloquent patch release and in the upcoming Foxy release.

[2020-05-07 15:21] #413 closed

[2020-05-07 15:25] hidmic commented on #412
This is a known TBD. XML and YAML launch frontend packages could do a better job reporting source errors.

[2020-05-07 17:00] hidmic commented on #416
So, on one hand we have internal `launch` logging needs. In that case, yes, one could even get away with a single `launch` logger if actions consistently self identify in each one of their logs. On the other hand, we have process output logging needs. If we collapse those into one of the aforementioned loggers, we can no longer configure different handlers and formatters for each. And we must if w

[2020-05-07 18:24] rotu commented on #416
What are these logging needs? Do they consist of having more than one logger per subprocess stream?

If not, there is no *need* to go through the logging infrastructure, in which case we can just use the [`Handler.emit`](https://docs.python.org/3/library/logging.html#logging.Handler.emit) instead.

It seems that if that sort of flexibility is needed, it could be done with a [QueueHandler](https://

[2020-05-07 18:35] hidmic commented on #416
In the most general case, different log formats and sinks for each process output descriptor. See `get_output_loggers()` [documentation](https://github.com/ros2/launch/blob/cac43b195fb767128df1fdf494687973d538c792/launch/launch/logging/__init__.py#L343).

I guess you could bypass much of the logging infrastructure, manually creating log records and such, but I fail to see why would you do that.

S

[2020-05-07 19:46] rotu commented on #416
Excellent! I can definitely preserve that behavior. Expect a PR.

We would do that because right now we're abusing the logging infrastructure, particularly `logging.getLogger`, and creating objects that never get cleaned up.

Also, we're altering the global logging configuration so any loggers that get created after `launch` has been imported will be created as `LaunchLoggers`. I expect that e.g.

[2020-05-07 20:21] hidmic commented on #416
If you have the time, go ahead. Many of your concerns are perfectly valid ones, but do bear in mind that the intent was (and is) to not re-implement `logging` functionality that later doesn't interplay with the `logging` module itself when/if `launch` is embedded in another application.

[2020-05-07 21:30] rotu commented on #416
I don't understand what you mean. Explain?

[2020-05-07 21:43] hidmic commented on #416
`launch.logging` reuses `logging` as much as possible in an attempt to not recreate what is already available in `logging` and to make it easy for `launch` to be integrated into a larger application/library that also uses `logging`. That is to say, it'd be a bummer if we end up with a custom `logging`-like module with half the features.

[2020-05-07 22:08] rotu commented on #416
I still don't quite understand how this can fit into a larger application/library.

1. By setting `propagate = False` in `LaunchLogger`, we prevent any logging records from getting *out* of `launch` into an application handler.

2. I can't find any way for an application logging record to get *into* a `launch` handler.

Am I missing a piece of the puzzle?

At any rate, I'm sure I can do this witho

[2020-05-08 20:51] cottsay opened #418 "Race between Shutdown and starting a new process"
## Bug report

**Required Info:**

- Operating System:
  - Fedora 32
- Installation type:
  - from source
- Version or commit hash:
  - cac43b1
- DDS implementation:
  - CycloneDDS
- Client library (if applicable):
  - rclpy

#### Steps to reproduce issue
[code]

#### Expected behavior
Launch starts the sleep process and then immediately sends Ctrl+C to that process, then exits after a very short

[2020-05-12 15:53] Blast545 commented on #418
This problem occurs as well in Windows, https://github.com/ros2/demos/issues/438.

- Operating System:
  - Windows Server 2019 64bits
- Installation type:
  - from source
- Version or commit hash:
  - 7d813d4
- DDS implementation:
  - CycloneDDS, Fast-RTPS (static and dynamic)
- Client library (if applicable):
  - rclpy

#### Steps to reproduce issue
`colcon test --merge-install --packages-select

[2020-05-12 15:58] cottsay commented on #418
The composition test failure is a great example of this in the wild:

...in the composition case, the test is skipped, which happens "really fast".

[2020-05-12 18:36] rotu commented on #418
Note that `LaunchDescription` doesn't even promise to execute its Entities in order, so this should probably be accompanied by a documentation update as well!

[2020-05-14 09:18] ddengster opened #422 "A way to to evaluate conditions across launch files at runtime?"
## Feature request
A way to use simple python to evaluate conditions between launch files at runtime.

#### Feature description

Say I have a launch file `upstream.launch.py `that invokes `IncludeLaunchDescription` with `downstream.launch.py`.

`downstream.launch.py` has something like a `LaunchArgument("moveit_controller_manager")` in its `LaunchDescription`

Then I'd like to be able to evaluate

[2020-05-14 13:12] hidmic commented on #422
Check [`launch.substitutions.PythonExpression`](https://github.com/ros2/launch/blob/7b6f4e021a8987baa4e7ccb957c6e1eace1339cb/launch/launch/substitutions/python_expression.py).

@ddengster I encourage you to ask this kind of questions over in [`answers.ros.org`](https://answers.ros.org/), where the community at large can help you and/or benefit from this exchange. I'll close this issue now.

[2020-05-14 13:12] #422 closed

[2020-05-14 13:26] hidmic commented on #416
`logging.Logger.propagate` is mutable.

Any application can use a `launch.logging`.

With this I'm not saying it cannot be made better, but that we should try not making it worse.

[2020-05-19 23:26] rotu opened #423 "Files in example_processes missing `.py` extension"
The following Python files are missing the `.py` extension:

* launch_testing/example_processes/exit_code_proc
* launch_testing/example_processes/good_proc
* launch_testing/example_processes/terminating_proc

Since they are never invoked "naked" (e.g. always as `python3 /path/to/script`) there is no benefit to leaving off the `.py` extension to make them look like a native executable.

_Discovered

[2020-05-29 03:26] sloretz commented on #423
Thanks for reporting @rotu! Would you be willing to open a PR with a fix?

[2020-05-29 19:23] rotu commented on #423
@sloretz I'm trying not to open PRs for stuff like this that's off-task (hence this issue instead of a PR).

@pbaughman is listed as the package maintainer. Maybe he can help?

[2020-05-29 19:28] pbaughman commented on #423
Hi @rotu, I'm not currently working with the company who hired me to work on ROS2 testing.  It's OK for you to go ahead and make the change.

[2020-05-29 21:40] rotu opened #425 "Outdated maintainer info"
The package.xml file lists the maintainer as Pete Baughmann, who is no longer the active maintainer of the package.

REP 149 specifies that a package with no current maintainer should be marked as "orphaned" but I think it may be more appropriate to list the maintainer as "Open Robotics" or maybe the developers that have the ability to merge commits.

https://www.ros.org/reps/rep-0149.html#maintai

[2020-05-29 23:04] pbaughman commented on #425
@rotu I have some availability now - if you guys are very busy and need some extra manpower on ROS2 testing, you can email me at peter.c.baughman@outlook.com to set up a contract.

[2020-05-30 00:00] rotu commented on #425
Thanks! I appreciate the willingness to help, though I think you misunderstand. I have a passing relation with this package, and I'm trying *not* to get too involved nor to fund significant changes at this time.

This issue is *just* about getting the package metadata correct and current.

[2020-06-03 09:53] iuhilnehc-ynos commented on #287
@ivanpauno @hidmic
I'd like to contribute to this feature.

[2020-06-03 12:40] ivanpauno commented on #287
Thanks @iuhilnehc-ynos !
Let us know if you have any question or when you need a review.

[2020-06-04 12:31] fujitatomoya commented on #287
@iuhilnehc-ynos

can you make PR against this? so that they can start review.

[2020-06-05 01:23] iuhilnehc-ynos commented on #287
@ivanpauno @fujitatomoya

I have made a PR for this feature, please review https://github.com/ros2/launch/pull/426 .

[2020-06-19 14:53] ivanpauno commented on #418
Fixed by https://github.com/ros2/launch/pull/427

[2020-06-19 14:53] #418 closed

[2020-06-23 07:30] fujitatomoya commented on #287
@ivanpauno

friendly ping, i think that you could close this one.

[2020-06-24 16:39] ivanpauno commented on #287
Fixed in #426, thanks for the contribution @iuhilnehc-ynos !

[2020-06-24 16:39] #287 closed

[2020-06-25 16:46] sloretz commented on #425
@wjwwood friendly ping :)

[2020-06-25 17:26] wjwwood commented on #425
I'll take ownership for now: https://github.com/ros2/launch/pull/433

[2020-06-25 17:41] #425 closed

[2020-06-26 13:41] ivanpauno commented on #392
Hi @adrienbarral @joshwapohlmann !

I think that adding schema validation is a good idea.
We could provide an online resource, or maybe we could also provide the file with the installation of launch/launch_ros.

To make things simple, we could move the schema definition to `launch_ros` repository, and it will be available in a link similar to:

https://raw.githubusercontent.com/ros2/design/gh-page

[2020-06-26 14:06] adrienbarral commented on #392
Yes it sound like a very good idea.

I am ros user, so I don't really care of a "launch only" schema definition, but that can make sense to have two schemas.

[2020-06-26 15:34] ivanpauno commented on #392
Yes, starting only with `launch_ros` sounds good.

There's no plan to address this issue in a near future, so contributions to address some of the bullets above are more than welcomed.

[2020-07-13 20:28] dirk-thomas opened #439 "clarify inconsistent license"
See https://github.com/ros2/launch/pull/209#discussion_r451097332

[2020-07-16 21:57] seanyen opened #441 "Equivalent inspection options for ROS Launch files (`--dump-params`, `--nodes` and `--args`)"
## Feature request

#### Feature description
In ROS1, the `roslaunch` provides a set of options (`--dump-params`, `--nodes` and `--args`) to inspect what's parameters and command lines that ROSLaunch eventually invoke. This is really useful for downstream tool to synthesize the ROS composition for debugging purpose. For example, [vscode-ros](https://github.com/ms-iot/vscode-ros/blob/master/doc/spe

[2020-07-18 01:14] ros-discourse commented on #114
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/ros-2-tsc-meeting-minutes-2020-07-16/15468/1

[2020-07-19 14:22] dawonn-haval opened #442 "launch_ros_PID collisions in multi-host systems"
## Bug report

The launch_ros node uses the PID as a suffix to generate a 'unique' node name, but this is insufficient in multi host systems. I use docker swarm containers across a number of hosts with many name collisions:
![image](https://user-images.githubusercontent.com/44446780/87876939-3be8f400-c9a9-11ea-938e-45c5cbe09cac.png)

**Required Info:**

- Operating System: U20.04
- Installation ty

[2020-07-21 01:22] dawonn-haval commented on #442
https://github.com/ros2/geometry2/blob/ros2/tf2_ros/include/tf2_ros/static_transform_broadcaster.h#L61

Stumbled upon how the static_transform_publisher generates a random suffix. Should this be adopted here as well?

[2020-07-21 15:52] ivanpauno commented on #442
I would reuse the logic [here](https://github.com/ros2/launch/blob/9d42f115a3d59ede93260c46b9f107717c5d3a24/launch/launch/substitutions/anon_name.py#L73).

@dawonn-haval are you planning to open a PR addressing this?

[2020-07-21 16:09] dawonn commented on #442
Is on my list of things to eventually get to, although I'm not sure exactly when that will be...

[2020-07-31 17:32] muawijhe opened #444 "ROS launch respawn not available in dashing"
Would you consider to import such a functionality into dashing release as it is available on all Ubuntu distribution and it last until the end of 2021?

[2020-08-03 13:50] clalancette commented on #444
Are you talking about the feature in https://github.com/ros2/launch/pull/426 ?

Regardless, we don't typically backport features into already released distributions.  However, my understanding is that it is fairly straightforward to just include that functionality in your own launch scripts, so I'd suggest that as a workaround for now.

I'm going to go ahead and close this, but feel free to keep c

[2020-08-03 13:50] #444 closed

[2020-08-03 15:50] muawijhe commented on #444
Dear Chris,

first of all, thanks for the reply :) I really appreciate your effort to explain why you will not do such a feature integration.

As I understand all the development efforts are migrating into the Foxy Fitzroy distribution and I agree, the show must go on.. but please try to follow my explanation before to reject these features request:

1. There are a lot of developers out there usin

[2020-08-03 18:42] clalancette commented on #444
I don't think this is a fair assessment of the situation.  We definitely still support the older releases with bugfixes and new packages, up until the end-of-life date.  But we have limited resources to work on ROS 2, so it becomes a question of where to spend those resources.  We have generally decided to not spend them on backporting new features, and instead focus features on the newest release

[2020-08-04 19:43] muawijhe commented on #444
Dear Chris,

Thanks again for the reply although we have clearly a very different
perspective about "new features". Respawn was a standard feature in ROS1
not an optional new cool feature. I believe it is correct to spend time
properly allocating resources on newest cool tasks, however here we are
talking about a "must" feature, not a "would like" feature.

That is why I am so surprised of your "l

[2020-08-05 16:13] jacobperron commented on #444
@muawijhe In my experience, if someone from the community proposes a backport PR for a feature that doesn't break ABI, there is a better chance it will be accepted.

[2020-08-14 21:00] jacobperron opened #452 "Condition for checking launch configuration value"
## Feature request

#### Feature description

I've come across the need to condition launch actions based on the value of a launch configuration.

For example, in my particular case I want to only launch a node container if the name of a container is not provided (otherwise, launch an action to load nodes into the existing container):

[code]

In my example, I only care if the value is `None` or n

[2020-08-14 21:43] jacobperron commented on #452
I guess my example isn't quite correct, since we can't pass `None` as the default type to `DeclareLaunchArguement`. In practice, I suppose we would use the empty string.

[2020-08-14 22:51] jacobperron commented on #452
See #453 for a proposed implementation.

[2020-08-17 18:06] #452 closed

[2020-08-20 16:46] wjwwood commented on #441
Launch was designed to expose this information, but has yet to be utilized much yet. This example does do "introspection":

https://github.com/ros2/launch/blob/9e7be6cd07e2d5f6445a952990e9f9d0ac46b790/launch/examples/launch_counters.py#L127-L130

But again, it's not completely fleshed out as a feature. At that point those arguments can be implemented by categorizing the items visited during intros

[2020-08-20 17:01] #439 closed

[2020-08-20 19:22] seanyen commented on #441
@wjwwood Thanks. And happy to see this type of improvement is welcome. My team is interested in making some contributions here. Maybe we can use ROS1 as a guide to define the options and the output format. Just a logistical question, where would you recommend us to begin with the proposal? (I am sure we probably want to have some discussions on that before we implement anything.)

[2020-08-20 20:08] wjwwood commented on #441
I think I'd like to see a pr adding to the package's documentation, e.g. a peer to this file:

https://github.com/ros2/launch/blob/master/launch/doc/source/architecture.rst

Or maybe something similar in the `ros2launch` or `launch_ros` packages.

[2020-09-08 19:08] sloretz opened #458 "Eloquent Test failure caused by Deprecation warning?"
## Bug report

**Required Info:**

- Operating System:
  - all
- Installation type:
  - nightlies
- Version or commit hash:
  - Eloquent
- DDS implementation:
  - all
- Client library (if applicable):
  - all

#### Steps to reproduce issue

https://ci.ros2.org/job/ci_linux/12231/console
* Eloquent repos file
* Target distro Eloquent
* OS Bionic
* Build up to launch_testing
* test only launch_testi

[2020-09-08 19:09] sloretz commented on #458
This appears to be the cause of at least the ROS Eloquent nightly release job failures

[2020-10-22 18:40] tim-fan commented on #383
Hello, I am also interested in this feature, for my use case I'd like to sometimes launch my system at logging level WARN, and sometimes at logging level ERROR (basically I'd like to easily switch between more or less verbose options).